<ul>
    @foreach (var category in Model)
    {
        <li class="d-flex items selectedCategory" tabindex="0" data-id="@category.Categoryid">
            <div class="d-flex align-items-center" style="padding-top: 5px; padding-bottom: 5px;">
                <img src="~/images/dots-graphic.png">
                <div style="width: 130px;" class="text-wrap ms-1 fw-bold">
                    @category.Categoryname</div>
            </div>
            <button class="btn ms-auto edit-btn" type="button" data-bs-toggle="modal" data-bs-target="#Edit-Category"
                data-id="@category.Categoryid">
                <img src="~/images/pen.svg" class="d-none">
            </button>
            <button class="btn ms-1 delete-category" type="button" data-bs-toggle="modal" data-bs-target="#DeleteCategoryModal" data-id="@category.Categoryid">
                <img src="~/images/trash.svg" style="margin-right: 0px;" class="d-none" class="d-none">
            </button>
        </li>
    }
</ul>

