@{
    Layout = "_Layout";
    ViewData["Title"] = "Menu Page";
}
@model CategoryViewModel

<head>
    <link rel="stylesheet" href="~/css/Menu.css">

</head>
<section style="min-height: 100vh;background-color: #fafafa;">
    <div class="row pt-4 ms-1 me-1" style="height: 70px;">
        <h2 class="col" style="color: rgb(20, 150, 190); font-family: Roboto; font-weight: 550">Menu
            </h1>
    </div>
    <div class="row mt-3 ms-4 me-4" style="background-color:white; border-radius: 5px;">
        <nav class="col-auto">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-items"
                    type="button" role="tab" aria-controls="nav-items" aria-selected="true" style="height:60px;">
                    <img src="~/images/bullet-list.png" style="width: 20px;">
                    Items
                </button>
                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-modifiers"
                    type="button" role="tab" aria-controls="nav-modifiers" aria-selected="false" style="height:60px;">
                    <img src="~/images/grid.png" style="width: 20px;">
                    Modifiers
                </button>
            </div>
        </nav>

    </div>
    <div class="row mt-3 ms-4 me-4" style="background-color:white; border-radius: 5px;">
        <div class="container tab-content" id="nav-tabContent">
            <div class="tab-pane show active" id="nav-items" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="row" style="min-height: 600px;">
                    <div class="col-auto d-lg-block d-none"
                        style="background: linear-gradient(to right, white, rgb(225, 224, 224))">
                        <div class="row px-3 mt-1">
                            <div class="col-auto d-flex align-items-center me-5 fw-bold" style="font-size: 20px;">
                                Category
                            </div>
                            <button class="btn col-auto ms-5" type="button" data-bs-toggle="modal"
                                data-bs-target="#Add-Category">
                                <img src="~/images/more.png" style="width: 30px;">
                            </button>
                        </div>
                        <div class="row overflow-auto me-2 mt-2" style="height: 400px;" id="Category">

                        </div>
                    </div>
                    <div class="col">
                        <div class="row px-3">
                            <div class="col-auto d-flex align-items-center mt-1 fw-bold" style="font-size: 20px;">Items
                            </div>
                        </div>

                        <div class="btn-group d-lg-none">
                            <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Category
                            </button>
                            <div class="col-auto dropdown-menu"
                                style="background: linear-gradient(to right, white, rgb(225, 224, 224))">
                                <div class="row px-3 mt-1">
                                    <div class="col-auto d-flex align-items-cente fw-bold" style="font-size: 20px;">
                                        Category
                                    </div>
                                    <button class="btn col-auto ms-auto" type="button" data-bs-toggle="modal"
                                        data-bs-target="#Add-Category">
                                        <img src="~/images/more.png" style="width: 30px;">
                                    </button>
                                </div>
                                <div class="row overflow-auto me-2 mt-2" style="height: 400px; " id="">

                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-end ms-lg-5 me-lg-5 me-2 mt-2" style="height: 50px;">
                            <input type="search" class="col-md-auto col-6 me-1 " id="searchInput" placeholder="search"
                                style="border-radius: 3px; border: 1px solid black">
                            <button type="button" class="btn MassItemDelete"
                                style="width: 50px; border: 1px solid black" data-bs-toggle="modal"
                                data-bs-target="#MassDeleteItemModal"><img src="~/images/trash.svg"></button>
                            <button type="button"
                                class="btn col-md-auto col-3 ms-1 align-items-center d-flex item-button addItem"
                                style="border-radius: 2px; border: 1px solid black; background-color: rgb(85, 85, 247); color: white  !important;">
                                + New Item
                            </button>
                        </div>
                        <div class="row table-responsive pt-4 ms-2 me-2" id="itemByCategory">

                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane show" id="nav-modifiers" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="row" style="min-height: 600px;">
                    <div class="col-auto d-lg-block d-none"
                        style="background: linear-gradient(to right, white, rgb(225, 224, 224))">
                        <div class="row px-3 mt-1">
                            <div class="col-auto d-flex align-items-center fw-bold" style="font-size: 20px;">
                                Modifier Group
                            </div>
                            <button class="btn col-auto ms-3" type="button" data-bs-toggle="modal"
                                data-bs-target="#addModifiersGroup">
                                <img src="~/images/more.png" style="width: 30px;">
                            </button>
                        </div>
                        <div class="row overflow-auto me-2 mt-2" style="height: 400px; ;" id="ModifierGroup">

                        </div>
                    </div>
                    <div class="col">
                        <div class="row px-3">
                            <div class="col-auto d-flex align-items-center mt-1 fw-bold" style="font-size: 20px;">
                                Modifiers
                            </div>
                        </div>

                        <div class="btn-group d-lg-none">
                            <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Modifier Group
                            </button>
                            <div class="col-auto dropdown-menu"
                                style="background: linear-gradient(to right, white, rgb(225, 224, 224))">
                                <div class="row px-3 mt-1">
                                    <div class="col-auto d-flex align-items-cente fw-bold" style="font-size: 20px;">
                                        Modifier Group
                                    </div>
                                    <button class="btn col-auto ms-auto" type="button" data-bs-toggle="modal"
                                        data-bs-target="#addModifiersGroup">
                                        <img src="~/images/more.png" style="width: 30px;">
                                    </button>
                                </div>
                                <div class="row overflow-auto me-2 mt-2" style="height: 400px;   ;">
                                    <ul>
                                        <li class="d-flex">
                                            <div class="d-flex align-items-center"
                                                style="padding-top: 5px; padding-bottom: 5px;">
                                                <img src="~/images/dots-graphic.png">
                                                <div style="width: 130px;" class="text-wrap ms-1 fw-bold">
                                                    Sandwich</div>
                                            </div>
                                            <img src="~/images/pen.svg" class="ms-auto">
                                            <img src="~/images/trash.svg" style="margin-right: 0px;">
                                        </li>
                                        <li class="d-flex">
                                            <div class="d-flex align-items-center"
                                                style="padding-top: 5px; padding-bottom: 5px;">
                                                <img src="~/images/dots-graphic.png">
                                                <div style="width: 130px;" class="text-wrap ms-1 fw-bold">Pasta
                                                </div>
                                            </div>
                                            <img src="~/images/pen.svg" class="ms-auto">
                                            <img src="~/images/trash.svg" style="margin-right: 0px;">
                                        </li>
                                        <li class="d-flex">
                                            <div class="d-flex align-items-center"
                                                style="padding-top: 5px; padding-bottom: 5px;">
                                                <img src="~/images/dots-graphic.png">
                                                <div style="width: 130px;" class="text-wrap ms-1 fw-bold">Sides
                                                    and Appetizers</div>
                                            </div>
                                            <img src="~/images/pen.svg" class="ms-auto">
                                            <img src="~/images/trash.svg" style="margin-right: 0px;">
                                        </li>
                                        <li class="d-flex">
                                            <div class="d-flex align-items-center"
                                                style="padding-top: 5px; padding-bottom: 5px;">
                                                <img src="~/images/dots-graphic.png">
                                                <div style="width: 130px;" class="text-wrap ms-1 fw-bold">Salads
                                                </div>
                                            </div>
                                            <img src="~/images/pen.svg" class="ms-auto">
                                            <img src="~/images/trash.svg" style="margin-right: 0px;">
                                        </li>
                                        <li class="d-flex">
                                            <div class="d-flex align-items-center"
                                                style="padding-top: 5px; padding-bottom: 5px;">
                                                <img src="~/images/dots-graphic.png">
                                                <div style="width: 130px;" class="text-wrap ms-1 fw-bold">Dips
                                                    and Sauces</div>
                                            </div>
                                            <img src="~/images/pen.svg" class="ms-auto">
                                            <img src="~/images/trash.svg" style="margin-right: 0px;">
                                        </li>
                                        <li class="d-flex">
                                            <div class="d-flex align-items-center"
                                                style="padding-top: 5px; padding-bottom: 5px;">
                                                <img src="~/images/dots-graphic.png">
                                                <div style="width: 130px;" class="text-wrap ms-1 fw-bold">pizza
                                                </div>
                                            </div>
                                            <img src="~/images/pen.svg" class="ms-auto">
                                            <img src="~/images/trash.svg" style="margin-right: 0px;">
                                        </li>
                                        <li class="d-flex">
                                            <div class="d-flex align-items-center"
                                                style="padding-top: 5px; padding-bottom: 5px;">
                                                <img src="~/images/dots-graphic.png">
                                                <div style="width: 130px;" class="text-wrap ms-1 fw-bold">
                                                    Deserts</div>
                                            </div>
                                            <img src="~/images/pen.svg" class="ms-auto">
                                            <img src="~/images/trash.svg" style="margin-right: 0px;">
                                        </li>
                                        <li class="d-flex">
                                            <div class="d-flex align-items-center"
                                                style="padding-top: 5px; padding-bottom: 5px;">
                                                <img src="~/images/dots-graphic.png">
                                                <div style="width: 130px;" class="text-wrap ms-1 fw-bold">
                                                    Burgers</div>
                                            </div>
                                            <img src="~/images/pen.svg" class="ms-auto">
                                            <img src="~/images/trash.svg" style="margin-right: 0px;">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-end ms-lg-5 me-lg-5 me-2 mt-2" style="height: 50px;">
                            <input type="search" class="col-md-auto col-6 me-1 " id="search" placeholder="search"
                                style="border-radius: 3px; border: 1px solid black">
                            <button type="button" class="btn" data-bs-toggle="modal"
                                data-bs-target="#MassDeletemodifierModal"
                                style="width: 50px; border: 1px solid black"><img src="~/images/trash.svg"></button>
                            <button class="btn col-md-auto col-3 ms-1 align-items-center d-flex addModifier"
                                style="border-radius: 2px; border: 1px solid black; background-color: rgb(85, 85, 247); color: white  !important;">
                                + New Modifier
                            </button>
                        </div>
                        <div class="row table-responsive pt-4 ms-2 me-2" id="Modifier">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fade modal" id="exampleModalCenter" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="width: 400px;">
            <div class="modal-content">
                <div class="row mx-1 mt-2">
                    <h5 class="modal-title col" id="staticBackdropLabel">Delete confirmation</h5>
                    <button type="button" class="btn-close col-auto me-1" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="d-flex justify-content-center align-items-center mt-4 flex-column">
                    <img src="~/images/caution.png" style="height: 40px; width: 40px;">
                    <span>Are you sure you want to delete this user?</span>
                    <div class="d-flex justify-content-center align-items-center mt-2 mb-4">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                            style="border-radius: 3px; width: 60px;">Yes</button>
                        <button type="button" class="btn ms-2 border"
                            style="border-radius: 3px; width: 60px;">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fade modal" id="DeleteCategoryModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="width: 400px;">
            <div class="modal-content">
                <div class="row mx-1 mt-2">
                    <h5 class="modal-title col" id="staticBackdropLabel">Delete confirmation</h5>
                    <button type="button" class="btn-close col-auto me-1" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="d-flex justify-content-center align-items-center mt-4 flex-column">
                    <img src="~/images/caution.png" style="height: 40px; width: 40px;">
                    <span>Are you sure you want to delete this category?</span>
                    <form id="deleteCategoryForm">
                        <input id="hiddenField" type="hidden" />
                        <div class="d-flex justify-content-center align-items-center mt-2 mb-4">
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal"
                                style="border-radius: 3px; width: 60px;">Yes</button>
                            <button type="button" class="btn ms-2 border"
                                style="border-radius: 3px; width: 60px;">No</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="fade modal" id="Edit-Category" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="width: 500px;">
            <div class="modal-content ps-3 pe-3">
                <div class="row mt-2">
                    <h5 class="modal-title col" id="staticBackdropLabel">Edit Category</h5>
                    <button type="button" class="btn-close col-auto me-3" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <form class="mt-4" id="editCategoryForm">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="EditCategoryname" name="Categoryname"
                            placeholder="Name">
                        <label for="Categoryname" class="label-pad">Name</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="EditDescription" name="Description"
                            placeholder="Description">
                        <label for="Description" class="label-pad">Description</label>
                    </div>
                    <input type="hidden" id="Categoryid" />
                    <div class="d-flex justify-content-end align-items-center mt-5 mb-4">
                        <button type="submit" class="btn btn-primary" style="border-radius: 3px;"
                            id="Save">Save</button>
                        <button type="button" class="btn ms-2 border" data-bs-dismiss="modal"
                            style="border-radius: 3px; ">Cancel</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="fade modal" id="Add-Category" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="width: 500px;">
            <div class="modal-content ps-3 pe-3">
                <div class="row mt-2">
                    <h5 class="modal-title col" id="staticBackdropLabel">Add Category</h5>
                    <button type="button" class="btn-close col-auto me-3" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <form class="mt-4" id="addCategoryForm">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="Categoryname" name="Categoryname"
                            placeholder="Name">
                        <label for="Categoryname" class="label-pad">Name</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="Description" name="Description"
                            placeholder="Description">
                        <label for="Description" class="label-pad">Description</label>
                    </div>
                    <div class="d-flex justify-content-end align-items-center mt-5 mb-4">
                        <button type="submit" class="btn btn-primary" style="border-radius: 3px;"
                            id="Save">Save</button>
                        <button type="button" class="btn ms-2 border" data-bs-dismiss="modal"
                            style="border-radius: 3px; ">Cancel</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <div class="fade modal" id="DeleteItemModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="width: 400px;">
            <div class="modal-content">
                <div class="row mx-1 mt-2">
                    <h5 class="modal-title col" id="staticBackdropLabel">Delete confirmation</h5>
                    <button type="button" class="btn-close col-auto me-1" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="d-flex justify-content-center align-items-center mt-4 flex-column">
                    <img src="~/images/caution.png" style="height: 40px; width: 40px;">
                    <span>Are you sure you want to delete this item?</span>
                    <form id="deleteItemForm">
                        <input id="item" type="hidden" />
                        <input id="category" type="hidden" />
                        <div class="d-flex justify-content-center align-items-center mt-2 mb-4">
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal"
                                style="border-radius: 3px; width: 60px;">Yes</button>
                            <button type="button" class="btn ms-2 border"
                                style="border-radius: 3px; width: 60px;">No</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="fade modal" id="DeleteModifierModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="width: 400px;">
            <div class="modal-content">
                <div class="row mx-1 mt-2">
                    <h5 class="modal-title col" id="staticBackdropLabel">Delete confirmation</h5>
                    <button type="button" class="btn-close col-auto me-1" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="d-flex justify-content-center align-items-center mt-4 flex-column">
                    <img src="~/images/caution.png" style="height: 40px; width: 40px;">
                    <span>Are you sure you want to delete this modifier?</span>
                    <form id="deleteModifierForm">
                        <input id="modifier" type="hidden" />
                        <input id="modifierGroup" type="hidden" />
                        <div class="d-flex justify-content-center align-items-center mt-2 mb-4">
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal"
                                style="border-radius: 3px; width: 60px;">Yes</button>
                            <button type="button" class="btn ms-2 border"
                                style="border-radius: 3px; width: 60px;">No</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="fade modal" id="MassDeleteItemModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="width: 400px;">
            <div class="modal-content">
                <div class="row mx-1 mt-2">
                    <h5 class="modal-title col" id="staticBackdropLabel">Delete confirmation</h5>
                    <button type="button" class="btn-close col-auto me-1" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="d-flex justify-content-center align-items-center mt-4 flex-column">
                    <img src="~/images/caution.png" style="height: 40px; width: 40px;">
                    <span>Are you sure you want to delete these items?</span>
                    <form id="deleteItemForm">
                        <div class="d-flex justify-content-center align-items-center mt-2 mb-4">
                            <button type="submit" class="btn btn-primary MassItemDeleteBtn" data-bs-dismiss="modal"
                                style="border-radius: 3px; width: 60px;">Yes</button>
                            <button type="button" class="btn ms-2 border"
                                style="border-radius: 3px; width: 60px;">No</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="fade modal" id="MassDeletemodifierModal" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="width: 400px;">
            <div class="modal-content">
                <div class="row mx-1 mt-2">
                    <h5 class="modal-title col" id="staticBackdropLabel">Delete confirmation</h5>
                    <button type="button" class="btn-close col-auto me-1" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="d-flex justify-content-center align-items-center mt-4 flex-column">
                    <img src="~/images/caution.png" style="height: 40px; width: 40px;">
                    <span>Are you sure you want to delete these modifiers?</span>
                    <form>
                        <div class="d-flex justify-content-center align-items-center mt-2 mb-4">
                            <button type="submit" class="btn btn-primary MassModifierDeleteBtn" data-bs-dismiss="modal"
                                style="border-radius: 3px; width: 60px;">Yes</button>
                            <button type="button" class="btn ms-2 border"
                                style="border-radius: 3px; width: 60px;">No</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-addNewModifier">

    </div>
    <div class="modal-editModifier">

    </div>

    <div class="modal fade modal-addModifiersGroup" id="addModifiersGroup" tabindex="-1"
        aria-labelledby="AddNewCategory" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Modifier Group</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form>
                    <div class="modal-body ">

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="modifierGroupName" placeholder="Category name">
                            <label for="modifierGroupName">Name*</label>
                        </div>

                        <div class="form-floating mb-3">
                            <textarea class="form-control" placeholder="Add a Description of Xategory"
                                id="modifierGroupDescription"></textarea>
                            <label for="modifierGroupDescription">Description</label>
                        </div>

                        <a><span id="AddModifierGroupBtn">+ Add Existing
                                Modifiers</span></a>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary sav-btn">Save</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade modal-updateModifiersGroup" id="editModifiersGroup" tabindex="-1"
        aria-labelledby="AddNewCategory" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Modifier Group</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form>
                    <div class="modal-body ">

                        <input type="text" class="form-control" id="editmodifierGroupId" hidden>

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="editmodifierGroupName"
                                placeholder="Category name">
                            <label for="editmodifierGroupName">Name*</label>
                        </div>

                        <div class="form-floating mb-3">
                            <textarea class="form-control" placeholder="Add a Description of Xategory"
                                id="editmodifierGroupDescription"></textarea>
                            <label for="editmodifierGroupDescription">Description</label>
                        </div>

                        <a><span id="EditModifierGroupBtn">+ Add Existing
                                Modifiers</span></a>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary sav-btn">Save</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Add new item -->
    <div class="modal-addNewItem" id="AddEditItem"></div>

    </div>


    <div class="modal fade" id="selectExistingModifiers" tabindex="-1" aria-labelledby="deleteModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header pb-0">
                    <h5 class="modal-title">Select Existing Modifiers</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="col-md-auto col-11 mt-1 ms-md-3 ms-4 w-50 d-flex align-items-center justify-content-center"
                        style="height: 50px;">
                        <input class="search form-control me-2" type="search" placeholder="Search" aria-label="Search"
                            id="searchModifier" style="height: 48px;">
                    </div>
                    <div id="ExistingModifier"></div>
                </div>
                <div class="modal-footer d-flex justify-content-start gap-2">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Add</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js">
</script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script>

    $(document).ready(function () {
        let lastSelectedCategoryId = 0;
        let lastSelectedModifierGroupId = 0;
        const selectedGroups = new Map();
        let selectedModifiers = [];

        $(document).on("click", ".delete-category", function () {
            var Id = $(this).data("id");
            $("#hiddenField").val(Id);
        });

        $(document).on("click", ".deleteItem", function () {
            var item = $(this).data("id");
            var category = $(this).data("category");
    @* console.log(item + category); *@
                $("#item").val(item);
            $("#category").val(category);
        });

        $(document).on("click", ".deleteModifier", function () {
            var modifier = $(this).data("id");
            var modifierGroup = $(this).data("modifiergroup");
    @* console.log(modifierGroup + "Group"); *@
                $("#modifier").val(modifier);
            $("#modifierGroup").val(modifierGroup);
        });

        function categoryList() {
            $.ajax({
                url: '/Menu/Category',
                type: 'GET',
                success: function (data) {
                    $('#Category').html(data);
                }
            });
        };

        function ItemList(categoryId, page) {
            console.log(categoryId + "cat");
            let pageSize = $("#pageSizeSelect").val();
            let search = $("#searchInput").val();
            $.ajax({
                type: "GET",
                url: '/Menu/Items',
                contentType: "application/json",
                data: { page: page, pageSize: pageSize, search: search, categoryId: categoryId },
                success: function (data) {
                    $('#itemByCategory').html(data);
                    itemMassDelete();
                }
            });
        };

        $("#itemByCategory").on("click", ".pagination-link", function (e) {
            e.preventDefault();
            let page = $(this).data("page");
            let CategoryId = $("#CategoryId").val();
            if (page > 0) {
                ItemList(CategoryId, page);
            }
        });

        $("#itemByCategory").on("change", "#pageSizeSelect", function () {
            let CategoryId = $("#CategoryId").val();
            ItemList(CategoryId, 1);
        });



        let searchTimer;
        $("#searchInput").on("input", function () {
            clearTimeout(searchTimer);
            let CategoryId = $("#CategoryId").val();
            searchTimer = setTimeout(function () {
                ItemList(CategoryId || lastSelectedCategoryId, 1);
            }, 100);
        });

        function modifierGroupList() {
            $.ajax({
                url: '/Menu/ModifierGroup',
                type: 'GET',
                success: function (data) {
                    $('#ModifierGroup').html(data);
                }
            });
        };

        function modifierList(ModifierGroupId , page=1) {
            let pageSize = $("#pageSizeSelect").val();
            let search = $("#search").val();
            $.ajax({
                type: "GET",
                url: '/Menu/Modifiers',
                contentType: "application/json",
                data: { page: page, pageSize: pageSize, search: search , ModifierGroupId: ModifierGroupId },
                success: function (data) {
                    $('#Modifier').html(data);
                    modifierMassDelete();
                }
            });
        };

        $("#Modifier").on("click", ".pagination-link", function (e) {
            e.preventDefault();
            let page = $(this).data("page");
            let CategoryId = $("#ModifierGroupId").val();
            if (page > 0) {
                modifierList(CategoryId, page);
            }
        });

        $("#Modifier").on("change", "#pageSizeSelect", function () {
            let CategoryId = $("#ModifierGroupId").val();
            modifierList(CategoryId, 1);
        });

        $("#search").on("input", function () {
            clearTimeout(searchTimer);
            let CategoryId = $("#ModifierGroupId").val();
            searchTimer = setTimeout(function () {
                modifierList(CategoryId || lastSelectedModifierGroupId, 1);
            }, 100);
        });

        categoryList();
        modifierGroupList();

        $(document).on("click", ".addItem", function () {
            console.log("clicked");
            $.ajax({
                url: "/Menu/AddNewItem",
                type: "GET",
                success: function (response) {
                    $("#AddEditItem").html(response);
                    $("#addItem").modal("show");
                }
            });
        });

        $(document).on("click", ".editItem", function () {
            var itemId = $(this).data("id");
            console.log("clicked");
            $.ajax({
                url: "/Menu/editItem",
                type: "GET",
                data: { itemId: itemId },
                success: function (response) {
                    $("#AddEditItem").html(response);
                    resetModifierGroups();
                    fetchExistingModifierGroups(itemId);
                    $("#editItem").modal("show");
                }
            });
        });

        $(document).on("click", "#EditItem", function (e) {
            e.preventDefault();
            console.log("clicked");
            if($('#editItemForm').valid()){
            var formData = new FormData($("#editItemForm")[0]);
            var catid = $("#categoryid").val();

            let groupsData = [];
            selectedGroups.forEach((group, groupId) => {
                groupsData.push({
                    modifiergroupid: parseInt(groupId),
                    minselectionrequired: group.minSelection,
                    maxselectionallowed: group.maxSelection
                });
            });

            console.log('Modifier Groups:', JSON.stringify(groupsData));

            // Add JSON data of selected groups
            formData.append('SelectedModifierGroups', JSON.stringify(groupsData));

            console.log(formData + "Hii");
            $.ajax({
                url: "/Menu/editItem",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                dataType: "json",
                success: function (response) {
                    if(response.success){
                    ItemList(catid, 1);
                    $('#editItem').modal('hide');
                    } else {
                            $("#Name").after('<div class="error-message text-danger mt-1">' + response.message + '</div>');
                        }
                },
                error: function (error) {

                }
            });
            }
        });

        $("#addCategoryForm").submit(function (e) {
            e.preventDefault();

            $(".error-message").remove();

            var categoryName = $("#Categoryname").val();
            var description = $("#Description").val();
            if (!categoryName.trim()) {
                $("#Categoryname").after('<div class="error-message text-danger mt-1">Category name is required</div>');
                return;
            }

            var formData = {
                Categoryname: categoryName,
                Description: description
            };
            console.log(formData);
            $.ajax({
                type: "POST",
                url: '/Menu/Category',
                contentType: "application/json",
                data: JSON.stringify(formData),
                success: function (response) {
                    if (response.success) {
                        $("#Categoryname").val("");
                        $("#Description").val("");
                        $("#Add-Category").modal('hide');
                        categoryList();
                    } else {
                        $("#Categoryname").after('<div class="error-message text-danger mt-1">' + response.message + '</div>');
                    }
                }
            });
        });
        $("#deleteCategoryForm").submit(function (e) {
            e.preventDefault(); // Prevent page refresh
            var categoryId = $("#hiddenField").val();
            console.log(categoryId + "delete");
            $.ajax({
                type: "POST",
                url: '/Menu/DeleteCategory',
                data: { categoryId: categoryId },
                success: function (response) {
                    categoryList();
                    ItemList(categoryId, 1);
                }
            });
        });

        $("#deleteItemForm").submit(function (e) {
            e.preventDefault(); // Prevent page refresh
            var itemId = $("#item").val();
            var categoryId = $("#category").val();
            console.log(categoryId + "delete");
            $.ajax({
                type: "POST",
                url: '/Menu/DeleteItem',
                data: { itemId: itemId },
                success: function (response) {
                    ItemList(categoryId, 1);
                }
            });
        });

        $("#deleteModifierForm").submit(function (e) {
            e.preventDefault(); // Prevent page refresh
            var modifierId = $("#modifier").val();
            var modifierGroupId = lastSelectedModifierGroupId;
            console.log(modifierGroupId + "delete");
            $.ajax({
                type: "POST",
                url: '/Menu/DeleteModifier',
                data: { modifierId: modifierId, modifierGroupId: modifierGroupId },
                success: function (response) {
                    modifierList(modifierGroupId);
                }
            });
        });

        $(document).on("click", ".selectedCategory", function () {
            var categoryId = $(this).data("id");
            lastSelectedCategoryId = categoryId;
            ItemList(categoryId, 1);
        });
        $(document).on("click", ".selectedModifierGroup", function () {
            var modifierGroupId = $(this).data("id");
            lastSelectedModifierGroupId = modifierGroupId;
            modifierList(modifierGroupId);
        });
        $(document).on("click", ".edit-btn", function () {
            var categoryId = $(this).data("id");
            $.ajax({
                type: "GET",
                url: '/Menu/EditCategoryById',
                contentType: "application/json",
                data: { categoryId: categoryId },
                success: function (data) {
                    console.log(data);
                    $("#Categoryid").val(data.categoryid);
                    $('#EditCategoryname').val(data.categoryname);
                    $('#EditDescription').val(data.description);
                }
            });
        });
        $("#editCategoryForm").submit(function (e) {
            e.preventDefault();

            $(".error-message").remove();

            var categoryName = $("#EditCategoryname").val();
            var description = $("#EditDescription").val();
            if (!categoryName.trim()) {
                $("#EditCategoryname").after('<div class="error-message text-danger mt-1">Category name is required</div>');
                return;
            }

            var formData = {
                Categoryid: $("#Categoryid").val(),
                Categoryname: $("#EditCategoryname").val(),
                Description: $("#EditDescription").val()
            };
            console.log(formData);
            $.ajax({
                type: "POST",
                url: '/Menu/EditCategoryById',
                contentType: "application/json",
                data: JSON.stringify(formData),
                success: function (response) {
                    if (response.success) {
                        $("#Edit-Category").modal('hide');
                        categoryList();
                    } else {
                        $("#EditCategoryname").after('<div class="error-message text-danger mt-1">' + response.message + '</div>');
                    }
                }
            });
        });

        function resetModifierGroups() {
            $('#selectedModifierGroups').empty();
            selectedGroups.clear();
        }

        $('#addItem').on('hidden.bs.modal', resetModifierGroups);
        $('#editItem').on('hidden.bs.modal', resetModifierGroups);


        // Handle modifier group selection from dropdown
        $(document).on('click', '.modifier-group-item', function (e) {
            e.preventDefault();
            const groupId = $(this).data('id');
            const groupName = $(this).data('name');
            console.log(groupId + groupName);
            // Prevent re-fetching if group is already selected
            if (!selectedGroups.has(groupId)) {
                console.log(groupId + groupName);
                fetchModifierGroupData(groupId, groupName);
            }
        });

        // Handle deletion of modifier groups
        $(document).on('click', '.delete-group', function () {
            const $groupContainer = $(this).closest('.modifier-group-container');
            const groupId = $groupContainer.data('group-id');
            selectedGroups.delete(groupId);
            $groupContainer.remove();
        });

        // Handle min/max selection changes
        $(document).on('change', '.min-selection-select, .max-selection-select', function () {
            const $groupContainer = $(this).closest('.modifier-group-container');
            const groupId = $groupContainer.data('group-id');

            if (selectedGroups.has(groupId)) {
                const group = selectedGroups.get(groupId);
                const isMinSelect = $(this).hasClass('min-selection-select');

                if (isMinSelect) {
                    group.minSelection = parseInt($(this).val());
                } else {
                    group.maxSelection = parseInt($(this).val());
                }
            }
        });

        // Function to fetch modifier group data
        function fetchModifierGroupData(groupId, groupName) {
            // Show loading indicator
            const loadingHtml = `<div id="loading-${groupId}" class="text-center p-3"><span>Loading modifiers...</span></div>`;
            $('#selectedModifierGroups').append(loadingHtml);

            // Fetch modifiers from the backend
            $.ajax({
                url: `/Menu/GetModifiers/${groupId}`,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    // Remove loading indicator
                    $(`#loading-${groupId}`).remove();
                    console.log(data.success);

                    if (data.success) {
                        // Add the group to our selected groups
                        selectedGroups.set(groupId, {
                            id: groupId,
                            name: groupName,
                            minSelection: 0,
                            maxSelection: 0,
                            modifiers: data.modifiers
                        });

                        // Create and append the group HTML
                        addModifierGroupUI(groupId, groupName, data.modifiers);
                    } else {
                        alert('Error loading modifiers: ' + data.message);
                    }
                },
                error: function (error) {
                    // Remove loading indicator
                    $(`#loading-${groupId}`).remove();
                    console.error('Error fetching modifiers:', error);
                    alert('Failed to load modifiers. Please try again.');
                }
            });
        }

        // Function to add a modifier group to the UI
        function addModifierGroupUI(groupId, groupName, modifiers) {
            // Clone the template
            if ($(`[data-group-id="${groupId}"]`).length > 0) {
                return; // Prevent duplicate groups
            }
            const template = document.getElementById('modifier-group-template');
            const $groupContainer = $(template.content.cloneNode(true));

            // Set group ID and name
            $groupContainer.find('.modifier-group-container').attr('data-group-id', groupId);
            $groupContainer.find('.group-name').text(groupName);
            $groupContainer.find('.group-id-input').val(groupId);

            // Set names for selects to be used in form submission
            $groupContainer.find('.min-selection-select').attr('name', `modifierGroups[${groupId}].minSelection`);
            $groupContainer.find('.max-selection-select').attr('name', `modifierGroups[${groupId}].maxSelection`);

            // Add modifiers to the list
            const $modifiersList = $groupContainer.find('.modifier-items-list');
            if (modifiers && modifiers.length > 0) {
                modifiers.forEach((modifier, index) => {
                    const modifierHtml = `
                <li>
                    <span class="modifier-name">${modifier.modifiername}</span>
                    <span class="modifier-price">${modifier.rate}</span>
                    <input type="hidden" name="modifierGroups[${groupId}].modifiers[${index}].id" value="${modifier.modifierid}">
                </li>
            `;
                    $modifiersList.append(modifierHtml);
                });
            } else {
                $modifiersList.append('<li>No modifiers available</li>');
            }

            // Append to the container
            $('#selectedModifierGroups').append($groupContainer);
        }

        $('#SaveItem').on('click', function (e) {
            e.preventDefault();
            console.log("clicked");
            if($('#addItemForm').valid()){
            var formData = new FormData($("#addItemForm")[0]);
            var catid = $("#categoryid").val();

            // Add selected modifier groups to form data
            let groupsData = [];
            selectedGroups.forEach((group, groupId) => {
                groupsData.push({
                    modifiergroupid: parseInt(groupId),
                    minselectionrequired: group.minSelection,
                    maxselectionallowed: group.maxSelection
                });
            });

            console.log('Modifier Groups:', JSON.stringify(groupsData));

            formData.append('SelectedModifierGroups', JSON.stringify(groupsData));

            $.ajax({
                url: '/Menu/AddNewItem',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data.success) {
                        ItemList(catid, 1);
                        $('#addItem').modal('hide');
                    } else {
                            $("#AddName").after('<div class="error-message text-danger mt-1">' + response.message + '</div>');
                        }
                },
                error: function (error) {
                    console.error('Error:', error);
                    alert('An error occurred while saving the item.');
                }
            });
            }
        });

        function fetchExistingModifierGroups(itemId) {
            console.log(itemId + "Hii existing");
            $.ajax({
                url: `/Menu/GetItemModifierGroups/${itemId}`,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    data.forEach(group => {
                        // Add to selectedGroups map
                        selectedGroups.set(group.modifiergroupid, {
                            id: group.modifiergroupid,
                            name: group.modifiergroupName,
                            minSelection: group.minselectionrequired,
                            maxSelection: group.maxselectionallowed,
                            modifiers: group.modifiers
                        });

                        // Add to UI
                        addModifierGroupUI(
                            group.modifiergroupid,
                            group.modifiergroupName,
                            group.modifiers
                        );

                        // Set min and max selection dropdowns
                        $(`[data-group-id="${group.modifiergroupid}"] .min-selection-select`).val(group.minselectionrequired);
                        $(`[data-group-id="${group.modifiergroupid}"] .max-selection-select`).val(group.maxselectionallowed);
                    });
                },
                error: function (error) {
                    console.error('Error fetching modifier groups:', error);
                }
            });
        }

        function modifiersList(page) {
            let pageSize = $("#pageSizeSelect").val();
            let search = $("#searchModifier").val();
            $.ajax({
                type: "GET",
                url: '/Menu/Modifierlist',
                contentType: "application/json",
                data: { page: page, pageSize: pageSize, search: search },
                success: function (data) {
                    $('#ExistingModifier').html(data);
                    $('#selectExistingModifiers').modal('show');

                    updateCheckboxStates();
                }
            });
        };

        function resetModifiers() {
            selectedModifiers = [];
            console.log(selectedModifiers);
            $('tbody tr').each(function () {
                $(this).find('#ModifierCheckBox').prop('checked', false);
            });

            $('#addModifiersGroup .existing-modifiers').remove();
        }

        $('#addModifiersGroup').on('hidden.bs.modal', resetModifiers);
        $('#addModifiersGroup').on('show.bs.modal', resetModifiers);

        $(document).on("click", "#AddModifierGroupBtn", function () {
            console.log("HiiList");
            modifiersList(1);
        });
        $(document).on("click", "#EditModifierGroupBtn", function () {
            console.log("HiiList");
            modifiersList(1);
        });

        $("#ExistingModifier").on("click", ".pagination-link", function (e) {
            e.preventDefault();
            let page = $(this).data("page");
            console.log(page + "Page");
            if (page > 0) {
                modifiersList(page);
            }
        });

        $("#ExistingModifier").on("change", "#pageSizeSelect", function () {
            modifiersList(1);
        });


        $("#searchModifier").on("input", function () {
            clearTimeout(searchTimer);
            searchTimer = setTimeout(function () {
                modifiersList(1);
            }, 100);
        });

        function updateCheckboxStates() {
            let totalCheckboxes = 0;
            let checkedCheckboxes = 0;
            const masterCheckbox = $('#MasterCheckBox');

            $('#ExistingModifier tbody tr').each(function () {
                const row = $(this);
                const modifierId = row.find('#ModifierId').val();
                const checkbox = row.find('#ModifierCheckBox');

                totalCheckboxes++;

                const isSelected = selectedModifiers.some(m => m.id == modifierId);
                console.log(selectedModifiers);
                console.log(isSelected + "bool");
                console.log(modifierId + "id");

                if (isSelected) {
                    checkbox.prop('checked', true);
                    checkedCheckboxes++;
                } else {
                    checkbox.prop('checked', false);
                }
            });

            console.log(totalCheckboxes + " Total " + checkedCheckboxes + " checked");

            if (checkedCheckboxes === 0) {
                masterCheckbox.prop('checked', false);
                masterCheckbox.prop('indeterminate', false);
            } else if (checkedCheckboxes === totalCheckboxes) {
                masterCheckbox.prop('checked', true);
                masterCheckbox.prop('indeterminate', false);
            } else {
                masterCheckbox.prop('checked', false);
                masterCheckbox.prop('indeterminate', true);
            }
        }

        // Handle opening of the existing modifiers modal
        $('#AddModifierGroupBtn').on('click', function () {
            setTimeout(updateCheckboxStates, 100);
        });

        // Handle checkbox selection in the existing modifiers modal
        $(document).on('change', '#ModifierCheckBox', function () {
            const row = $(this).closest('tr');
            const modifierId = row.find('#ModifierId').val();
            const modifierName = row.find('td:nth-child(2)').text().trim();
            const checkbox = $(this);

            if (checkbox.is(':checked')) {
                // Check if modifier is not already in the list
                const exists = selectedModifiers.some(m => m.id === modifierId);
                if (!exists) {
                    selectedModifiers.push({
                        id: modifierId,
                        name: modifierName
                    });
                    checkbox.attr('checked', 'checked');
                }
            } else {
                selectedModifiers = selectedModifiers.filter(m => m.id !== modifierId);
                checkbox.removeAttr('checked');
            }

            updateCheckboxStates();
        });

        $(document).on('change', '#MasterCheckBox', function () {
            const isChecked = $(this).is(':checked');

            $('#ExistingModifier tbody tr').each(function () {
                const row = $(this).closest('tr');
                const modifierId = row.find('#ModifierId').val();
                const modifierName = row.find('td:nth-child(2)').text().trim();
                const checkbox = $(this);
                console.log(modifierName);

                if (isChecked) {
                    checkbox.attr('checked', 'checked');

                    const exists = selectedModifiers.some(m => m.id == modifierId);
                    if (!exists) {
                        selectedModifiers.push({
                            id: modifierId,
                            name: modifierName
                        });
                    }
                } else {
                    checkbox.removeAttr('checked');
                    selectedModifiers = selectedModifiers.filter(m => m.id != modifierId);
                }
            });

            $(this).attr('checked', isChecked ? 'checked' : null);
            updateCheckboxStates();
        });

        $('#selectExistingModifiers .btn-primary').on('click', function () {
            $('#addModifiersGroup .existing-modifiers').remove();
            $('#editModifiersGroup .existing-modifiers').remove();

            const addModifiersContainer = $('<div class="existing-modifiers d-flex flex-wrap gap-2 mt-2"></div>');

            const editModifiersContainer = $('<div class="existing-modifiers d-flex flex-wrap gap-2 mt-2"></div>');

            selectedModifiers.forEach(function (modifier) {
                const addBadge = $(`
            <span class="badge bg-primary d-flex align-items-center" data-modifier-id="${modifier.id}">
                ${modifier.name}
                <button type="button" class="btn-close btn-close-white ms-2 remove-modifier" aria-label="Remove"></button>
            </span>
        `);

                const editBadge = $(`
            <span class="badge bg-primary d-flex align-items-center" data-modifier-id="${modifier.id}">
                ${modifier.name}
                <button type="button" class="btn-close btn-close-white ms-2 remove-modifier" aria-label="Remove"></button>
            </span>
        `);

                addModifiersContainer.append(addBadge);
                editModifiersContainer.append(editBadge);
            });

            $('#AddModifierGroupBtn').after(addModifiersContainer);
            $('#EditModifierGroupBtn').after(editModifiersContainer);
        });


        $(document).on('click', '.remove-modifier', function () {
            const modifierId = $(this).parent().data('modifier-id');
            $(this).parent().remove();
            selectedModifiers = selectedModifiers.filter(m => m.id != modifierId);
        });

        $('form').on('submit', function (e) {
            if (selectedModifiers.length === 0) {
                e.preventDefault();
    @* alert('Please select at least one modifier'); *@
                return;
            }

            const hiddenInputsContainer = $('<div class="selected-modifiers-inputs"></div>');
            selectedModifiers.forEach((modifier, index) => {
                hiddenInputsContainer.append(`
                <input type="hidden" name="SelectedModifiers[${index}].Id" value="${modifier.id}">
                <input type="hidden" name="SelectedModifiers[${index}].Name" value="${modifier.name}">
            `);
            });

            $('.selected-modifiers-inputs').remove();
            $('form').append(hiddenInputsContainer);
        });

        $(".modal-addModifiersGroup form").submit(function (e) {
            e.preventDefault();

            $(".error-message").remove();

            const modifierGroupName = $("#modifierGroupName").val();
            const description = $("#modifierGroupDescription").val();
            if (!modifierGroupName.trim()) {
                $("#modifierGroupName").after('<div class="error-message text-danger mt-1">Modifier group name is required</div>');
                return;
            }

            console.log(modifierGroupName + "name");

            // Extract just the IDs for the API call
            const selectedModifierIds = selectedModifiers.map(m => m.id);

            // Create data object
            const data = {
                Modifiergroupname: modifierGroupName,
                Description: description,
                SelectedModifierIds: selectedModifierIds
            };

            // Send AJAX request
            $.ajax({
                url: '/Menu/CreateModifierGroup',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (response) {
                    if (response.success) {

                        $("#modifierGroupName").val('');
                        $("#modifierGroupDescription").val('');
                        selectedModifiers = [];

                        $('#addModifiersGroup').modal('hide');
                        console.log(response);
                        modifierGroupList();
                        modifierList(response.id);
                    } else {
                        $("#modifierGroupName").after('<div class="error-message text-danger mt-1">' + response.message + '</div>');
                    }
                }
            });
        });

        $(".modal-updateModifiersGroup form").submit(function (e) {
            e.preventDefault();

            $(".error-message").remove();

            const modifierGroupName = $("#editmodifierGroupName").val();
            const description = $("#editmodifierGroupDescription").val();
            const modifierGroupId = $('#editmodifierGroupId').val();

            if (!modifierGroupName.trim()) {
                $("#editmodifierGroupName").after('<div class="error-message text-danger mt-1">Modifier group name is required</div>');
                return;
            }

            const selectedModifierIds = selectedModifiers.map(m => m.id);

            const data = {
                Modifiergroupid: modifierGroupId,
                Modifiergroupname: modifierGroupName,
                Description: description,
                SelectedModifierIds: selectedModifierIds
            };

            $.ajax({
                url: '/Menu/UpdateModifierGroup',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (response) {
                    if (response.success) {
                        $("#editmodifierGroupName").val('');
                        $("#editmodifierGroupDescription").val('');
                        selectedModifiers = [];

                        $('.modal-updateModifiersGroup').modal('hide');
                        modifierGroupList();
                        modifierList(response.id);
                    } else {
                        $("#editmodifierGroupName").after('<div class="error-message text-danger mt-1">' + response.message + '</div>');
                    }
                }
            });
        });

        $('#ModifierGroup').on('click', '.edit-modifierGroup-btn', function () {
            const modifierGroupId = $(this).data('id');
            $('#editmodifierGroupId').val(modifierGroupId);
            selectedModifiers = [];
            console.log("Hii edit goup");

            $.ajax({
                url: '/Menu/GetModifierGroupDetails',
                type: 'GET',
                data: { modifierGroupId: modifierGroupId },
                success: function (response) {
                    $('#editModifierGroupId').val(response.data.modifiergroupid);
                    $('#editmodifierGroupName').val(response.data.modifiergroupname);
                    $('#editmodifierGroupDescription').val(response.data.description);

                    response.data.selectedModifiers.forEach(function (modifier) {
                        selectedModifiers.push({
                            id: modifier.modifierid,
                            name: modifier.modifiername
                        });
                    });

                    $('#editModifiersGroup .existing-modifiers').remove();
                    $(".error-message").remove();

                    const modifiersContainer = $('<div class="existing-modifiers d-flex flex-wrap gap-2 mt-2"></div>');

                    // Add each selected modifier as a badge
                    selectedModifiers.forEach(function (modifier) {
                        const badge = $(`
                <span class="badge bg-primary d-flex align-items-center" data-modifier-id="${modifier.id}">
                    ${modifier.name}
                    <button type="button" class="btn-close btn-close-white ms-2 remove-modifier" aria-label="Remove"></button>
                </span>
            `);
                        modifiersContainer.append(badge);
                    });

                    // Insert the modifiers container after the "Add Existing Modifiers" link
                    $('#EditModifierGroupBtn').after(modifiersContainer);
                    console.log(selectedModifiers);
                    $('#editModifiersGroup').modal('show');

                },
                error: function (error) {
                    console.error('Error fetching modifier group details:', error);
                    alert('Failed to load modifier group details.');
                }
            });
        });

        function initializeModifierFunctionality(container) {
            const selectedModifiersDisplay = container.querySelector('#selectedModifiersDisplay');
            const modifierDropdown = container.querySelector('#modifierDropdown');
            const checkboxes = container.querySelectorAll('.modifier-checkbox');
            const selectedModifiersInput = container.querySelector('#selectedModifiers');
            const modifierPlaceholder = container.querySelector('#modifierPlaceholder');

            // Array to store selected modifiers
            let selectedModifierGroups = [];

            checkboxes.forEach(checkbox => {
                if (checkbox.checked) {
                    console.log("checked")
                    const value = checkbox.value;
                    const label = checkbox.nextElementSibling.textContent;
                    selectedModifierGroups.push({ value, label });
                }
            });

            console.log(selectedModifierGroups);

            updateDisplay();

            // Toggle dropdown when clicking on the display area
            selectedModifiersDisplay.addEventListener('click', function () {
                modifierDropdown.classList.toggle('show');
            });

            // Close dropdown when clicking outside
            $(document).on('click', function (event) {
                if (!selectedModifiersDisplay.contains(event.target) && !modifierDropdown.contains(event.target)) {
                    modifierDropdown.classList.remove('show');
                }
            });

            // Handle checkbox changes
            checkboxes.forEach(checkbox => {
                checkbox.addEventListener('change', function () {
                    const value = this.value;
                    const label = this.nextElementSibling.textContent;

                    if (this.checked) {
                        // Add to selected modifiers
                        selectedModifierGroups.push({ value, label });
                    } else {
                        // Remove from selected modifiers
                        selectedModifierGroups = selectedModifierGroups.filter(item => item.value !== value);
                    }

                    updateDisplay();
                });
            });

            // Update the display and hidden input
            function updateDisplay() {
                // Clear current display except placeholder
                const tags = selectedModifiersDisplay.querySelectorAll('.selected-tag');
                tags.forEach(tag => tag.remove());

                if (selectedModifierGroups.length > 0) {
                    // Hide placeholder
                    modifierPlaceholder.style.display = 'none';

                    // Create first tag
                    const firstTag = document.createElement('span');
                    firstTag.className = 'selected-tag';
                    firstTag.innerHTML = `${selectedModifierGroups[0].label} <span class="tag-remove" data-value="${selectedModifierGroups[0].value}"></span>`;
                    selectedModifiersDisplay.appendChild(firstTag);

                    // Add +N if there are more
                    if (selectedModifierGroups.length > 1) {
                        const moreTag = document.createElement('span');
                        moreTag.className = 'selected-tag';
                        moreTag.textContent = `+${selectedModifierGroups.length - 1}`;
                        selectedModifiersDisplay.appendChild(moreTag);
                    }
                } else {
                    // Show placeholder if no selections
                    modifierPlaceholder.style.display = 'block';
                }

                // Update hidden input value
                selectedModifiersInput.value = JSON.stringify(selectedModifierGroups.map(item => item.value));

                // Add event listeners to remove buttons
                const removeButtons = selectedModifiersDisplay.querySelectorAll('.tag-remove');
                removeButtons.forEach(button => {
                    button.addEventListener('click', function (e) {
                        e.stopPropagation();
                        const valueToRemove = this.getAttribute('data-value');

                        // Uncheck the corresponding checkbox
                        const checkbox = document.querySelector(`.modifier-checkbox[value="${valueToRemove}"]`);
                        if (checkbox) checkbox.checked = false;

                        // Remove from array
                        selectedModifierGroups = selectedModifierGroups.filter(item => item.value !== valueToRemove);
                        console.log(selectedModifierGroups);

                        updateDisplay();
                    });
                });
            }

            $('#AddModifierForm').on('submit', function (e) {
                e.preventDefault();
                var SelectedModifierGroups = selectedModifierGroups.map(item => parseInt(item.value));
                $('.error-message').remove();
                if (SelectedModifierGroups.length == 0) {
                    $("#modifierDropdown").after('<div class="error-message text-danger mt-1">Please select at least one modifier group</div>');
                    return;
                }
                if ($(this).valid()) {
                console.log('Hii');
                $('.error-message').remove();

                var formData = new FormData($("#AddModifierForm")[0]);

                
                formData.append('SelectedModifierGroups', SelectedModifierGroups);

                $.ajax({
                    url: '/Menu/SaveModifier',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if(response.success){
                        console.log('Success:', response);

                        modifierList(lastSelectedModifierGroupId);
                        $('#addNewModifier').modal('hide');
                        } else {
                            $("#Modifiername").after('<div class="error-message text-danger mt-1">' + response.message + '</div>');
                        }
                    }
                });
                }
            });
            $('#EditModifierForm').on('submit', function (e) {
                e.preventDefault();
                $('.error-message').remove();
                var SelectedModifierGroups = selectedModifierGroups.map(item => parseInt(item.value));
                if (SelectedModifierGroups.length == 0) {
                    $("#modifierDropdown").after('<div class="error-message text-danger mt-1">Please select at least one modifier group</div>');
                    return;
                }
                if ($(this).valid()) {
                
                $('.error-message').remove();

                var formData = new FormData($("#EditModifierForm")[0]);

                
                formData.append('SelectedModifierGroups', SelectedModifierGroups);
                $.ajax({
                    url: '/Menu/EditModifier',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if(response.success){
                        console.log('Success:', response);

                        modifierList(lastSelectedModifierGroupId);
                        $('#editModifierModal').modal('hide');
                        } else {
                            $("#Modifiername").after('<div class="error-message text-danger mt-1">' + response.message + '</div>');
                        }
                    }
                });
                }
            });
            
        }

        $(document).on("click", ".addModifier", function () {
            console.log("clicked");
            $.ajax({
                url: "/Menu/AddNewModifier",
                type: "GET",
                success: function (response) {
                    $(".modal-addNewModifier").html(response);
                    $("#addNewModifier").modal("show");
                    initializeModifierFunctionality(document.querySelector('#addNewModifier'));
                    modifierList(lastSelectedModifierGroupId);
                }
            });
        });

        $(document).on("click", ".EditModifier", function () {
            console.log("clicked");
            var Id = $(this).data("id");
            $.ajax({
                url: "/Menu/GetModifierDetails",
                type: "GET",
                data: { modifierId: Id },
                success: function (response) {
                    $(".modal-editModifier").html(response);
                    $("#editModifierModal").modal("show");
                    initializeModifierFunctionality(document.querySelector('#editModifierModal'));
                    modifierList(lastSelectedModifierGroupId);
                }
            });
        });


        function itemMassDelete() {
            let selectedItemIds = [];

            // Master checkbox click handler
            $("#MasterCheckBoxDelete").on('click', function () {
                console.log("checked");
                const isChecked = $(this).prop('checked');

                // Set all visible item checkboxes to match master checkbox
                $("tbody #ModifierCheckBoxDelete").each(function () {
                    $(this).prop('checked', isChecked);

                    // Get item ID from the row
                    const itemId = getItemIdFromRow($(this).closest('tr'));

                    if (isChecked && !selectedItemIds.includes(itemId)) {
                        // Add ID to array if checked and not already in array
                        selectedItemIds.push(itemId);
                    } else if (!isChecked) {
                        // Remove ID from array if unchecked
                        selectedItemIds = selectedItemIds.filter(id => id !== itemId);
                    }
                });

                console.log("Selected Item IDs:", selectedItemIds);
            });

            // Individual checkbox click handler
            $("tbody").on('click', "#ModifierCheckBoxDelete", function () {
                const isChecked = $(this).prop('checked');
                const itemId = getItemIdFromRow($(this).closest('tr'));

                // Add or remove item ID from array
                if (isChecked && !selectedItemIds.includes(itemId)) {
                    selectedItemIds.push(itemId);
                } else if (!isChecked) {
                    selectedItemIds = selectedItemIds.filter(id => id !== itemId);
                }

                updateMasterCheckbox();
                console.log("Selected Item IDs:", selectedItemIds);
            });

            // Function to get item ID from the table row
            function getItemIdFromRow(row) {
                const editItemElement = row.find('.editItem');
                const deleteItemElement = row.find('.deleteItem');

                if (editItemElement.length > 0) {
                    return editItemElement.data('id');
                } else if (deleteItemElement.length > 0) {
                    return deleteItemElement.data('id');
                }

                // If no ID found, use the row index as fallback
                return row.index();
            }

            function updateMasterCheckbox() {
                const checkboxes = $("tbody #ModifierCheckBoxDelete");
                const checkedCount = $("tbody #ModifierCheckBoxDelete:checked").length;

                if (checkedCount === 0) {
                    // No checkboxes are checked
                    $("#masterModifierCheckBoxDelete").prop({
                        'checked': false,
                        'indeterminate': false
                    });
                } else if (checkedCount === checkboxes.length) {
                    // All checkboxes are checked
                    $("#masterModifierCheckBoxDelete").prop({
                        'checked': true,
                        'indeterminate': false
                    });
                } else {
                    // Some checkboxes are checked
                    $("#masterModifierCheckBoxDelete").prop({
                        'checked': false,
                        'indeterminate': true
                    });
                }
            }

            // Initialize master checkbox state on page load
            updateMasterCheckbox();

            $(document).on('click', '.MassItemDeleteBtn', function (e) {
                e.preventDefault();
                console.log(selectedItemIds);

                $.ajax({
                    url: '/Menu/MassDeleteItems',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(
                        selectedItemIds
                    ),
                    success: function (response) {
                        if (response.success) {
                            ItemList(lastSelectedCategoryId, 1);
                            selectedItemIds = [];
                        }
                    }
                });
            });
        }

        //Mass Delete Modifiers
        function modifierMassDelete() {
            let selectedItemIds = [];

            // Master checkbox click handler
            $("#MasterCheckBoxDelete").on('click', function () {
                console.log("checked");
                const isChecked = $(this).prop('checked');

                // Set all visible item checkboxes to match master checkbox
                $("tbody #ModifierCheckBoxDelete").each(function () {
                    $(this).prop('checked', isChecked);

                    // Get item ID from the row
                    const itemId = getItemIdFromRow($(this).closest('tr'));

                    if (isChecked && !selectedItemIds.includes(itemId)) {
                        // Add ID to array if checked and not already in array
                        selectedItemIds.push(itemId);
                    } else if (!isChecked) {
                        // Remove ID from array if unchecked
                        selectedItemIds = selectedItemIds.filter(id => id !== itemId);
                    }
                });

                console.log("Selected Item IDs:", selectedItemIds);
            });

            // Individual checkbox click handler
            $("tbody").on('click', "#ModifierCheckBoxDelete", function () {
                const isChecked = $(this).prop('checked');
                const itemId = getItemIdFromRow($(this).closest('tr'));

                // Add or remove item ID from array
                if (isChecked && !selectedItemIds.includes(itemId)) {
                    selectedItemIds.push(itemId);
                } else if (!isChecked) {
                    selectedItemIds = selectedItemIds.filter(id => id !== itemId);
                }

                updateMasterCheckbox();
                console.log("Selected Item IDs:", selectedItemIds);
            });

            // Function to get item ID from the table row
            function getItemIdFromRow(row) {
                const editItemElement = row.find('.EditModifier');
                const deleteItemElement = row.find('.deleteModifier');

                if (editItemElement.length > 0) {
                    return editItemElement.data('id');
                } else if (deleteItemElement.length > 0) {
                    return deleteItemElement.data('id');
                }

                // If no ID found, use the row index as fallback
                return row.index();
            }

            function updateMasterCheckbox() {
                const checkboxes = $("tbody #ModifierCheckBoxDelete");
                const checkedCount = $("tbody #ModifierCheckBoxDelete:checked").length;

                if (checkedCount === 0) {
                    // No checkboxes are checked
                    $("#MasterCheckBoxDelete").prop({
                        'checked': false,
                        'indeterminate': false
                    });
                } else if (checkedCount === checkboxes.length) {
                    // All checkboxes are checked
                    $("#MasterCheckBoxDelete").prop({
                        'checked': true,
                        'indeterminate': false
                    });
                } else {
                    // Some checkboxes are checked
                    $("#MasterCheckBoxDelete").prop({
                        'checked': false,
                        'indeterminate': true
                    });
                }
            }

            // Initialize master checkbox state on page load
            updateMasterCheckbox();

            $(document).on('click', '.MassModifierDeleteBtn', function (e) {
                e.preventDefault();
                console.log(typeof (selectedItemIds));

                $.ajax({
                    url: '/Menu/MassDeleteModifiers',
                    type: 'POST',
                    data: {
                        selectedIds: selectedItemIds,
                        modifierGroupid: lastSelectedModifierGroupId
                    }
                    ,
                    success: function (response) {
                        if (response.success) {
                            modifierList(lastSelectedModifierGroupId, 1);
                            selectedItemIds = [];
                        }
                    }
                });
            });
        }
    });
</script>
