@{
    Layout = "_Layout";
    ViewData["Title"] = "Change Password Page";
}
@model pizzashop.repository.ViewModels.ChangePasswordViewModel;
@await Html.PartialAsync("_Toast")
<head>
    <link rel="stylesheet" href="~/css/dashboard.css">
</head>
<section style="min-height: 100vh; background-color: #fafafa;">
    <div class="row pt-4 ms-sm-5 me-sm-5 ms-3 me-3 mb-4" style="height: 70px;">
        <h2 class="col" style="color: rgb(101, 101, 224); font-family: Roboto; font-weight: 550">Change Password</h1>
    </div>

    <div class="d-flex flex-column ms-3 me-3">
        <span>Enter a new password to update your account credentials</span>
        <form asp-controller="Dashboard" asp-action="ChangePassword" method="post">
            <!-- Current Password Field -->
            <div class="password-container mt-2">
                <div class="form-floating">
                    <input type="password" asp-for="OldPassword" class="form-control" id="currentPassword"
                        placeholder="Current Password*">
                    <label for="currentPassword" class="label-pad">Current Password*</label>
                <i class="bi bi-eye-slash eyeIcon" id="toggleCurrentPassword"></i>
                </div>
            </div>
            <span asp-validation-for="OldPassword" class="text-danger validation-message"></span>
            
            <!-- New Password Field -->
            <div class="password-container">
                <div class="form-floating">
                    <input type="password" asp-for="Password" class="form-control" id="newPassword"
                        placeholder="New Password*">
                    <label for="newPassword" class="label-pad">New Password*</label>
                <i class="bi bi-eye-slash eyeIcon" id="toggleNewPassword"></i>
                </div>
            </div>
            <span asp-validation-for="Password" class="text-danger validation-message"></span>
            
            <!-- Confirm Password Field -->
            <div class="password-container">
                <div class="form-floating">
                    <input type="password" asp-for="ConfirmPassword" class="form-control" id="confirmPassword"
                        placeholder="Confirm New Password*">
                    <label for="confirmPassword" class="label-pad">Confirm New Password*</label>
                <i class="bi bi-eye-slash eyeIcon" id="toggleConfirmPassword"></i>
                </div>
            </div>
            <span asp-validation-for="ConfirmPassword" class="text-danger validation-message"></span>
            
            <!-- Action Buttons -->
            <div class="col-auto mb-3">
                <button type="submit" class="btn btn-prime" style="border-radius: 3px; width: 90px;">Submit</button>
                <a type="button" class="btn btn-border-prime" style="border-radius: 3px; width: 90px;">Cancel</a>
            </div>
        </form>
    </div>
</section>
 <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>