@{
    Layout = "_Layout";
    ViewData["Title"] = "Change Password Page";
}
<head>
<link rel="stylesheet" href="~/css/dashboard.css">
</head>
<section style="min-height: 100vh; background-color: lightblue;">
    <div class="row pt-4 ms-sm-5 me-sm-5 ms-3 me-3 mb-4" style="height: 70px;">
        <h2 class="col" style="color: rgb(101, 101, 224); font-family: Roboto; font-weight: 550">Change Password</h1>
    </div>

    <div class="d-flex flex-column ms-3 me-3">
        <span>Enter a new password to update your account credentials</span>
        <form asp-controller="Dashboard" method = "post" asp-action="ChangePassword">
        <div class="form-floating mb-3 mt-2">
            <input type="password" class="form-control" id="floatingInput" placeholder="Current Password*"
                style="max-width:450px;" name="current_password">
            <label for="floatingInput" class="label-pad">Current Password*</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingInput" placeholder="New Password*"
                style="max-width:450px;" name="password">
            <label for="floatingInput" class="label-pad">New Password*</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingInput" placeholder="Confirm New Password*"
                style="max-width:450px;" name="confirm_password">
            <label for="floatingInput" class="label-pad">Confirm New Password*</label>
        </div>

        <div class="col-auto mb-3">
            <button type="submit" class="btn btn-primary" style="border-radius: 3px; width: 90px;">Submit</button>
            <a type="button" class="btn "
                style="border-radius: 3px; width: 90px; border: 1px solid blue; color: blue">Cancel</a>
        </div>
        </form>
    </div>
</section>