@{
    Layout = "_Layout";
    ViewData["Title"] = "Dashboard Page";
}
@await Html.PartialAsync("_Toast")
<head>
<link rel="stylesheet" href="~/css/dashboard.css">
</head>
<section style = "min-height: 100vh; background-color: #fafafa;">
<div class="row pt-4 ms-sm-5 me-sm-5 ms-3 me-3" style="min-height: 70px; ">
    <h2 class="col-sm col-12" style="color: rgb(101, 101, 224); font-family: Roboto; font-weight: 550">Dashboard</h1>
</div>
</section>