@{
    Layout = "_Layout";
    ViewData["Title"] = "User Page";
}
@* @model List<Userslogin> *@
<head>
    <link rel="stylesheet" href="~/css/userList.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
@await Html.PartialAsync("_Toast")
<section style="min-height: 100vh; background-color: #fafafa;">
    <div class="row pt-4 ms-sm-5 me-sm-5 ms-3 me-3" style="min-height: 70px; ">
        <h2 class="col-sm col-12" style="color: rgb(101, 101, 224); font-family: Roboto; font-weight: 550">Users</h1>
            <input type="search" class="col-sm-auto col-6" id="searchInput" placeholder="search"
                style="border-radius: 3px; border: none; min-height: 50px;">
            <a asp-controller="User" asp-action="AddUser" type="button"
                class="btn btn-primary col-sm-auto col-4 ms-sm-2 ms-auto align-items-center d-flex"
                style="border-radius: 2px; border: none;">+Add User</a>
    </div>
    <div class="table-responsive pt-4 ms-2 me-2" id="table-container">
       <partial name="_ShowUserList" model="Model">
    </div>
    <div class="fade modal" id="exampleModalCenter" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="width: 400px;">
            <div class="modal-content">
                <div class="row mx-1 mt-2">
                    <h5 class="modal-title col" id="staticBackdropLabel">Delete confirmation</h5>
                    <button type="button" class="btn-close col-auto me-1" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="d-flex justify-content-center align-items-center mt-4 flex-column">
                    <img src="~/images/caution.png" style="height: 40px; width: 40px;">
                    <span>Are you sure you want to delete this user?</span>
                    <div class="d-flex justify-content-center align-items-center mt-2 mb-4">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                            style="border-radius: 3px; width: 60px;">Yes</button>
                        <button type="button" class="btn ms-2 border"
                            style="border-radius: 3px; width: 60px;">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        let currentPage = @ViewBag.CurrentPage;
        let searchQuery = "@ViewBag.SearchQuery" || "";
        let sortColumn = "@ViewBag.SortColumn" || "Name"; 
        let sortOrder = "@ViewBag.SortOrder" || "asc";  

        function loadUserTable(page) {
            let pageSize = $("#pageSizeSelect").val();
            let search = $("#searchInput").val(); 

            $.ajax({
                url: "/User/UserList",
                type: "GET",
                data: { page: page, pageSize: pageSize, search: search, sortColumn: sortColumn, sortOrder: sortOrder },
                success: function (data) {
                    $("#table-container").html(data);
                    currentPage = page;
                },
                error: function () {
                    alert("Failed to load data.");
                }
            });
        }

        $(document).on("click", ".pagination-link", function (e) {
            e.preventDefault();
            let page = $(this).data("page");

            if (page > 0) {
                loadUserTable(page);
            }
        });

        $(document).on("click", ".sort-icon", function (e) {
        e.preventDefault();
        
        // Get the sort column and order
        sortColumn = $(this).data("column");
        sortOrder = $(this).data("order");

        console.log(sortColumn);
        
        $(".sort-icon").removeClass("active");
        $(this).addClass("active");
        
        // Load the user table with the updated sorting
        loadUserTable(1);
    });

        $(document).on("change", "#pageSizeSelect", function () {
            loadUserTable(1);
        });

        // Trigger search on input change (with delay to prevent excessive calls)
        let searchTimer;
        $("#searchInput").on("input", function () {
            clearTimeout(searchTimer);
            searchTimer = setTimeout(function () {
                loadUserTable(1); // Reset to page 1 when searching
            }, 500); // 500ms delay to avoid excessive requests
        });
    });
</script>