*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,main{
    height: 100vh;
    /* overflow-x: hidden; */
}

a{
    text-decoration: none !important;
    color: black !important;
}

main>section.row{
    --bs-gutter-x : 0rem !important;
}

.sidebar{
    background-color: white;
    height: 100%;
    min-height: 1000px;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    height: 48px;
    text-decoration: none;
}

.activeItem{
  background-color: #e6e6e6e5;
}

.activeItem .text{
    color: rgb(0, 102, 167) !important;
}

.activeItem .black{
    display: none;
}

.activeItem .blue{
    display: block;
}

.blue{
    display: none;
}

.black{
    display: block;
}
.menu-icon{
    width: 25px;
    height: 25px;
}

.offcanvas-start{
    width: auto !important;
 }

@media (max-height: 700px){
    .menu{
        height:35px;
    }
}

.navbar{
    --bs-navbar-padding-y: 0rem !important;
}

.password-container {
    position: relative;
    max-width: 450px;
}

.eyeIcon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    cursor: pointer;
}

.validation-message {
    display: block;
    margin-bottom: 1rem;
}

.btn-prime {
    background-color: #0066a7;
    color: white;
  }
  
  .btn-prime:hover {
    background-color: #075383;
    color: white;
  }
  
  .btn-border-prime {
    border: 1px solid #0066a7;
    color: #0066a7;
    background-color: transparent;
  }
  
  .btn-border-prime:hover {
    border: 1px solid #0066a7;
    color: #0066a7;
    background-color: transparent;
  }