*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body,main{
    height: 100vh;
    /* overflow: hidden; */
}

main>section.row{
    --bs-gutter-x : 0rem !important;
}

a{
    text-decoration: none !important;
    color: black !important;
}
#sidebar{
    background-color: white;
    height: 100%;
    min-height: 1000px;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    height: 48px;
    text-decoration: none;
}


.menu-icon{
    width: 25px;
    height: 25px;
}

.menu-image{
    display: none;
}

.nav-link{
    border: none !important;
    color: black !important;
}

.nav-link.active{
    border-bottom:1px solid blue !important;
}

.pagination{
    margin-top: -13px !important;
}

#upload-photo-icon {
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    position: relative;
    width: 35px;
    height: auto;
    top: 25px;
    left: -25px;
    cursor: pointer;
  }

.status-badge-green {
    display: inline-block;
    color: white;
    background-color: #2FB635;
    padding: 0px 15px;
    font-size: 14px;
    border-radius: 15px;
    font-weight: 600;
    text-align: center;
    height: 25px;
    width: 69px;
}

.status-badge-red {
    display: inline-block;
    color: white;
    background-color: #FC4F4F;
    padding: 0px 10px;
    font-size: 14px;
    border-radius: 15px;
    font-weight: 600;
    text-align: center;
    height: 25px;
    width: 69px;
}

.label-pad{
    margin-left: 1rem;
}

.upload-file::-webkit-file-upload-button {
    display: none;
}

.heading{
    font-size: 1.2rem;
    font-family: Roboto;
}

#flexCheckDefault{
    width: 18px !important;
    height: 19px !important;
    margin-right: 1rem;
    border: 0.5px solid black !important;
}

#flexSwitchCheckDefault{
    width: 55px !important;
    height: 30px !important;
}


 .offcanvas-start{
    width: auto !important;
 }

@media (max-height: 700px){
    .menu{
        height:35px;
    }
}

li > img{
    width:20px;
}

li > div > img {
    width: 20px;

}

li > span{
    font-weight: 500;
}

li {
    margin-top: 2rem;
}

@media (max-width: 576px){
    .role-main{
        padding: 10px 10px !important;
    }
}