@{
    Layout = "_OrderAppLayout";
    ViewData["Title"] = "Table Page";
}
@using pizzashop.repository.ViewModels;
@using static pizzashop.repository.Models.itemtype;
@model List<CategoryViewModel>;

<head>
    <link rel="stylesheet" href="~/css/OrderMenu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
        integrity="sha512-MX5EkfBl..." crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<section style="background-color: #fcfcfc;" class="row w-100">
    <aside class="col-auto d-flex justify-content-start align-items-center flex-column offcanvas-lg offcanvas-start"
        id=sidebar style="background-color: #f4f4f4 !important; min-width: 250px; min-height: 100vh;">
        <div class="w-100 mt-3 mb-3">
            <span class="fw-bold ms-4" style="font-size: 20px;">Category</span>
            <button type="button" class="btn-close text-reset ms-auto d-lg-none" data-bs-dismiss="offcanvas"
                data-bs-target="#sidebar" aria-label="Close"></button>
        </div>
        <a class='menu w-100' data-id="FAV">
            <span style="font-weight: 600;" class="text ms-4">Favorite Items</span>
        </a>
        <a class='menu w-100  Categoey-active' data-id="ALL">
            <span style="font-weight: 600;" class="text ms-4">All</span>
        </a>
        @foreach (var category in Model)
        {
            <a class="menu w-100" data-id="@category.Categoryid">
                <span style="font-weight: 600;" class="text ms-4">@category.Categoryname</span>
            </a>
        }

    </aside>
    <div class="d-flex flex-column flex-lg-row col">
        <section style="height:100%; max-height: 100%; flex: 1">
            <div class=" d-flex justify-content-between ms-3 mt-4">
                <div class="search-input-group">
                    <input type="text" class="form-control search-input" placeholder="Search">
                    <div class="search-icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </div>
                <div class="food-type me-4">
                    <div class="type-option">
                        <div class="indicator vegetarian"></div>
                        <span>Vegetarian</span>
                    </div>
                    <div class="type-option">
                        <div class="indicator non-vegetarian"></div>
                        <span>Non-Vegetarian</span>
                    </div>
                    <div class="type-option">
                        <div class="indicator vegan"></div>
                        <span>Vegan</span>
                    </div>
                </div>
            </div>

            <div id="menu-items" class="d-flex flex-wrap ms-4 mt-4 MenuItems overflow-auto">

            </div>
        </section>
        <div id="order-card" class="d-none OrderCard me-3 rounded shadow p-3 mt-3"
            style="flex : 1; align-self: flex-start; height: auto;">

        </div>
    </div>
</section>
<div id="ItemModifierModal">

</div>
<!-- Comment Modal -->
<div class="modal fade" id="orderCommentModal" tabindex="-1" aria-labelledby="orderCommentModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Order Comment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <textarea id="orderCommentTextArea" class="form-control" rows="5"
                    placeholder="Enter comment here..."></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" id="saveOrderCommentBtn" class="btn btn-prime">Save</button>
                <button type="button" class="btn btn-border-prime" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Item Comment Modal -->
<div class="modal fade" id="itemCommentModal" tabindex="-1" aria-labelledby="itemCommentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="itemCommentModalLabel">Special Instruction</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="itemCommentForm">
                    <input type="hidden" id="OrderedItemId" name="orderedItemId" value="" />
                    <div class="mb-3">
                        <textarea id="itemCommentTextArea" class="form-control" rows="4"
                            placeholder="Instruction"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="saveItemCommentBtn" class="btn btn-prime">Save</button>
                <button type="button" class="btn btn-border-prime" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Customer Details Modal -->
<div id="customerModalContailer">

</div>

<div class="fade modal" id="completeOrderModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="completeOrderModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="width: 400px;">
        <div class="modal-content">
            <div class="row mx-1 mt-2">
                <h5 class="modal-title col text-muted ms-2" id="completeOrderModalLabel">Complete Confirmation</h5>
                <button type="button" class="btn-close col-auto me-1" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="d-flex justify-content-center align-items-center mt-4 flex-column">
                <img src="~/images/caution.png" style="height: 40px; width: 40px;">
                <span>Are you sure you want to complete Order?</span>
                <form id="completeOrderForm">
                    <div class="d-flex justify-content-center align-items-center mt-2 mb-4">
                        <button type="submit" class="btn btn-prime" data-bs-dismiss="modal"
                            style="border-radius: 3px; width: 60px;">Yes</button>
                        <button type="button" class="btn ms-2 btn-border-prime border"
                            style="border-radius: 3px; width: 60px;">No</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="fade modal" id="cancelOrderModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="cancelOrderModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="width: 400px;">
        <div class="modal-content">
            <div class="row mx-1 mt-2">
                <h5 class="modal-title col text-muted ms-2" id="cancelOrderModalLabel">Cancel Confirmation</h5>
                <button type="button" class="btn-close col-auto me-1" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="d-flex justify-content-center align-items-center mt-4 flex-column">
                <img src="~/images/caution.png" style="height: 40px; width: 40px;">
                <span>Are you sure you want to cancel the Order?</span>
                <form id="cancelOrderForm">
                    <div class="d-flex justify-content-center align-items-center mt-2 mb-4">
                        <button type="submit" class="btn btn-prime" data-bs-dismiss="modal"
                            style="border-radius: 3px; width: 60px;">Yes</button>
                        <button type="button" class="btn ms-2 btn-border-prime border"
                            style="border-radius: 3px; width: 60px;">No</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="fade modal" id="QRModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="QRModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="width: 400px;">
        <div class="modal-content">
            <div class="row mx-1 mt-2">
                <h5 class="modal-title col text-muted ms-2" id="QRModalLabel">Cancel Confirmation</h5>
                <button type="button" class="btn-close col-auto me-1" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="d-flex justify-content-center align-items-center mt-4 flex-column">
                
                <form id="QRForm">
                    <div class="d-flex justify-content-center align-items-center mt-2 mb-4">
                        <button type="submit" class="btn btn-border-prime" data-bs-dismiss="modal"
                            style="border-radius: 3px; width: 60px;">Done</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="customerReviewModal" tabindex="-1" aria-labelledby="customerReviewModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="customerReviewModalLabel">Customer Review</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="customerReviewForm">
                    <div class="mb-1">
                        <div class="d-flex justify-content-between align-items-center">
                            <label class="mb-0">Food</label>
                            <div class="rating" data-ratingFor="Food">
                                <i class="bi bi-star fs-5 text-warning" data-value="1"></i>
                                <i class="bi bi-star fs-5 text-warning" data-value="2"></i>
                                <i class="bi bi-star fs-5 text-warning" data-value="3"></i>
                                <i class="bi bi-star fs-5 text-warning" data-value="4"></i>
                                <i class="bi bi-star fs-5 text-warning" data-value="5"></i>
                            </div>
                        </div>
                    </div>

                    <div class="mb-1">
                        <div class="d-flex justify-content-between align-items-center">
                            <label class="mb-0">Service</label>
                            <div class="rating" data-ratingFor="Service">
                                <i class="bi bi-star fs-5 text-warning" data-value="1"></i>
                                <i class="bi bi-star fs-5 text-warning" data-value="2"></i>
                                <i class="bi bi-star fs-5 text-warning" data-value="3"></i>
                                <i class="bi bi-star fs-5 text-warning" data-value="4"></i>
                                <i class="bi bi-star fs-5 text-warning" data-value="5"></i>
                            </div>
                        </div>
                    </div>

                    <div class="mb-1">
                        <div class="d-flex justify-content-between align-items-center">
                            <label class="mb-0">Ambience</label>
                            <div class="rating" data-ratingFor="Ambience">
                                <i class="bi bi-star fs-5 text-warning" data-value="1"></i>
                                <i class="bi bi-star fs-5 text-warning" data-value="2"></i>
                                <i class="bi bi-star fs-5 text-warning" data-value="3"></i>
                                <i class="bi bi-star fs-5 text-warning" data-value="4"></i>
                                <i class="bi bi-star fs-5 text-warning" data-value="5"></i>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 mt-2 w-100 form-floating">
                        <textarea class="w-100 form-control" id="comment" name="Comment" placeholder="Multiple lines"
                            style="height: 100px;"></textarea>
                        <label for="comment">Description</label>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-prime px-4">Save</button>
                        <button type="button" class="btn btn-border-prime px-4" data-bs-dismiss="modal">Cancel</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<script>
    var parentOrderItemsArray = [];

    function addOrderItemsFromPartial(itemsFromPartial) {
        if (itemsFromPartial && Array.isArray(itemsFromPartial)) {
            parentOrderItemsArray = itemsFromPartial;
        }
    }
    $(document).ready(function () {
        let currentCategory = "ALL";
        let confirmedSelections = [];
        let orderTaxes = [];
        let appliedTaxIds = [];
        let tempSelections = null;
        let searchText = "";
        let lastSubTotal = 0;
        let totalAmount = 0;
        function getQueryParam(param) {
            const urlParams = new URLSearchParams(window.location.search);
            return urlParams.get(param);
        }

        const orderId = getQueryParam("orderId");
        console.log(orderId);

        if (orderId) {
            $('#order-card').removeClass('d-none');

            //Get already stored taxes
            $.ajax({
                url: '/Orders/GetOrderTaxIds',
                method: 'GET',
                data: { orderId: orderId },
                dataType: 'json',
                success: function (data) {
                    appliedTaxIds = data.taxIds;
                }
            });

            $.ajax({
                url: '/OrderMenu/OrderCard',
                type: 'GET',
                data: { orderId: orderId },
                success: function (result) {
                    $('#order-card').html(result);
                    confirmedSelections = JSON.parse(JSON.stringify(parentOrderItemsArray));
                    console.log(confirmedSelections);
                    renderConfirmedSelections();
                },
                error: function () {
                    $('#order-card').html('<p class="text-danger">Failed to load order details.</p>');
                }
            });
        }

        function renderConfirmedSelections() {
            const $container = $('#selected-items-container');
            $container.empty();

            confirmedSelections.forEach((item, index) => {
                const $template = $('#item-template').clone();
                $template.removeAttr('id').removeClass('d-none');
                const accordionId = `collapse-${item.uniqueId}`;

                $template.attr('data-item-id', item.itemId);
                $template.attr('data-unique-id', item.uniqueId);
                $template.find('.item-name').text(item.itemName);

                $template.find('.accordion-button')
                    .attr('data-bs-target', `#${accordionId}`)
                    .attr('aria-controls', accordionId);

                $template.find('.accordion-collapse')
                    .attr('id', accordionId);

                const $modifierList = $template.find('ul');
                $modifierList.empty();

                let totalModifierPrice = 0;

                for (const groupId in item.groups) {
                    const group = item.groups[groupId];

                    for (const modifierId in group.selectedModifiers) {
                        const modifier = group.selectedModifiers[modifierId];

                        totalModifierPrice += parseFloat(modifier.rate);

                        $modifierList.append(`<li>${modifier.modifierName} ₹${modifier.rate}</li>`);
                    }
                }

                $template.find('.item-quantity').text(item.quantity);

                const itemPrice = item.quantity * parseFloat(item.itemRate);
                const modifierPrice = item.quantity * totalModifierPrice;

                $template.find('.item-base-price').text(`₹${itemPrice.toFixed(2)}`);
                if ($modifierList.children().length !== 0) {
                    $template.find('.item-total-price').text(`₹${modifierPrice.toFixed(2)}`);
                }

                $container.append($template);
            });
            calculateAndRenderTotals();
            setupItemControlEvents();
        }

        function setupItemControlEvents() {
            $('#selected-items-container').on('click', '.item-quantity-increase', function (e) {
                e.stopImmediatePropagation();
                const $itemContainer = $(this).closest('[data-unique-id]');
                const index = $itemContainer.data('unique-id');
                const $quantitySpan = $(this).siblings('.item-quantity');

                const itemIndex = confirmedSelections.findIndex(i => i.uniqueId === index);
                if (itemIndex !== -1) {
                    confirmedSelections[itemIndex].quantity += 1;
                    renderConfirmedSelections();
                }
            });

            $('#selected-items-container').on('click', '.item-quantity-decrease', function (e) {
                e.stopImmediatePropagation();
                const $itemContainer = $(this).closest('[data-unique-id]');
                const index = $itemContainer.data('unique-id');
                const $quantitySpan = $(this).siblings('.item-quantity');
                const itemIndex = confirmedSelections.findIndex(i => i.uniqueId === index);
                const readyQuantity = confirmedSelections[itemIndex].readyQuantity;
                const itemName = confirmedSelections[itemIndex].itemName;
                console.log(readyQuantity);
                if (itemIndex !== -1) {
                    if (confirmedSelections[itemIndex].quantity == readyQuantity) {
                        if (readyQuantity > 1) {
                            toastr.warning(`${readyQuantity} ${itemName} are already prepared.`)
                        }
                        else {
                            toastr.warning(`${readyQuantity} ${itemName} is already prepared.`)
                        }
                    }

                    else {
                        confirmedSelections[itemIndex].quantity -= 1;

                        if (confirmedSelections[itemIndex].quantity <= 0) {
                            confirmedSelections.splice(itemIndex, 1);
                        }

                        renderConfirmedSelections();
                    }
                }
            });

            $('#selected-items-container').on('click', '.remove-item', function () {
                const $itemContainer = $(this).closest('[data-unique-id]');
                const index = $itemContainer.data('unique-id');

                const Index = confirmedSelections.findIndex(item => item.uniqueId === index);
                if (Index !== -1) {
                    const readyQuantity = confirmedSelections[Index].readyQuantity;
                    const itemName = confirmedSelections[Index].itemName;
                    if (readyQuantity != undefined && readyQuantity > 0) {
                        if (readyQuantity > 1) {
                            toastr.warning(`Can't delete because ${readyQuantity} ${itemName} are already prepared.`)
                        }
                        else {
                            toastr.warning(`Can't delete because ${readyQuantity} ${itemName} is already prepared.`)
                        }
                    }
                    else {
                        confirmedSelections.splice(Index, 1);
                        renderConfirmedSelections();
                        $itemContainer.remove();
                    }
                }
            });
        }

        function calculateSubTotal() {
            let subTotal = 0;
            if (!confirmedSelections || !Array.isArray(confirmedSelections)) {
                return 0;
            }
            confirmedSelections.forEach(item => {
                let itemTotal = 0;
                const itemRate = parseFloat(item.itemRate) || 0;
                const quantity = parseInt(item.quantity, 10) || 0;
                if (quantity > 0) {
                    itemTotal += itemRate * quantity;
                    if (item.groups) {
                        Object.values(item.groups).forEach(group => {
                            if (group.selectedModifiers) {
                                Object.values(group.selectedModifiers).forEach(modifier => {
                                    const modRate = parseFloat(modifier.rate) || 0;
                                    itemTotal += modRate * quantity;
                                });
                            }
                        });
                    }
                }
                subTotal += itemTotal;
            });
            lastSubTotal = subTotal;
            return subTotal;
        }

        function fetchTaxes(callback) {
            $.ajax({
                url: '/Taxes/GetEnabledTaxes',
                type: 'GET',
                dataType: 'json',
                success: function (response) {
                    if (response && response.success && response.allTaxes) {
                        callback(response.allTaxes);
                    } else {
                        console.error("Failed to fetch taxes or invalid response format:", response);
                        callback([]);
                    }
                }
            });
        }

        function renderTaxesAndCalculateTotal(taxes, subTotal) {
            orderTaxes = [];
            const $taxesContainer = $('#taxes-container');
            $taxesContainer.empty();
            let currentTotal = subTotal;
            let taxHtml = '';
            let otherTax = calculateOtherTax();
            currentTotal += otherTax;

            if (!Array.isArray(taxes)) {
                taxes = [];
            }

            taxHtml += `
                <div class="d-flex justify-content-between fs-6 tax-row item-specific-tax">
                    <div>Other Taxes:</div>
                    <div class="tax-amount">${otherTax.toFixed(2)}</div>
                </div>`;

            taxes.forEach(tax => {
                const taxValue = parseFloat(tax.taxvalue) || 0;
                const taxName = tax.taxname || 'Unnamed Tax';
                const isPercentage = tax.taxTypeName && tax.taxTypeName.toLowerCase().includes('percentage');

                if (isPercentage) {
                    const taxAmount = subTotal * (taxValue / 100);
                    orderTaxes.push({
                        taxid: tax.taxid,
                        orderid: orderId,
                        taxvalue: taxAmount
                    });
                    currentTotal += taxAmount;
                    taxHtml += `
                <div class="d-flex justify-content-between fs-6 tax-row percentage-tax"
                     data-tax-id="${tax.taxid}"
                     data-tax-type="percentage"
                     data-tax-percentage="${taxValue}">
                    <div>${taxName} (${taxValue}%):</div>
                    <div class="tax-amount">${taxAmount.toFixed(2)}</div>
                </div>`;
                } else {
                    const isCheckedBefore = appliedTaxIds.includes(tax.taxid);
                    const isChecked = isCheckedBefore ? 'checked' : '';

                    taxHtml += `
                <div class="d-flex justify-content-between fs-6 tax-row fixed-tax"
                     data-tax-id="${tax.taxid}"
                     data-tax-type="fixed"
                     data-tax-amount="${taxValue}">
                    <div>
                        <input type="checkbox" class="fixed-tax-checkbox me-1"
                               id="tax-chk-${tax.taxid}"
                               value="${taxValue}"
                               data-tax-id="${tax.taxid}" ${isChecked}>
                        <label for="tax-chk-${tax.taxid}">${taxName}:</label>
                    </div>
                    <div class="tax-amount">${taxValue.toFixed(2)}</div>
                </div>`;
                }
            });



            $taxesContainer.html(taxHtml);
            $('#subtotal-value').text(subTotal.toFixed(2));
            $('#total-value').text(currentTotal.toFixed(2));
            attachCheckboxListeners();

            $taxesContainer.find('.fixed-tax-checkbox:checked').each(function () {
                $(this).trigger('change');
            });
        }

        function recalculateTotal() {
            orderTaxes = [];
            let currentTotal = lastSubTotal;
            let otherTax = calculateOtherTax();
            currentTotal += otherTax;
            orderTaxes.push({
                taxid: 0,
                orderid: orderId,
                taxvalue: otherTax
            });

            $('#taxes-container .percentage-tax').each(function () {
                const $taxRow = $(this);
                const percentage = parseFloat($taxRow.data('tax-percentage')) || 0;
                const taxId = parseInt($taxRow.data('tax-id')) || 0;
                const taxAmount = lastSubTotal * (percentage / 100);

                currentTotal += taxAmount;

                orderTaxes.push({
                    taxid: taxId,
                    orderid: orderId,
                    taxvalue: taxAmount
                });
            });

            $('#taxes-container .fixed-tax-checkbox:checked').each(function () {
                const $checkbox = $(this);
                const taxValue = parseFloat($checkbox.val()) || 0;
                const taxId = parseInt($checkbox.data('tax-id')) || 0;

                currentTotal += taxValue;

                orderTaxes.push({
                    taxid: taxId,
                    orderid: orderId,
                    taxvalue: taxValue
                });
            });

            $('#total-value').text(currentTotal.toFixed(2));
            totalAmount = currentTotal;
        }

        function attachCheckboxListeners() {
            $('#taxes-container').off('change', '.fixed-tax-checkbox').on('change', '.fixed-tax-checkbox', function () {
                const $checkbox = $(this);
                const taxId = parseInt($checkbox.data('tax-id'));
                if ($checkbox.is(':checked')) {
                    if (!appliedTaxIds.includes(taxId)) {
                        appliedTaxIds.push(taxId);
                    }
                } else {
                    appliedTaxIds = appliedTaxIds.filter(id => id !== taxId);
                }
                recalculateTotal();
            });
        }

        function calculateAndRenderTotals() {
            const subTotal = calculateSubTotal();
            fetchTaxes(function (taxes) {
                renderTaxesAndCalculateTotal(taxes, subTotal);
                recalculateTotal();
            });
        }

        function calculateOtherTax() {
            let itemSpecificTaxTotal = 0;
            confirmedSelections.forEach(item => {
                if ((item.defaultTax == 'True' || item.defaultTax == true) && item.tax) {
                    const itemRate = parseFloat(item.itemRate) || 0;
                    const quantity = parseInt(item.quantity, 10) || 0;
                    const itemTaxPercent = parseFloat(item.tax) || 0;

                    if (itemRate > 0 && quantity > 0 && itemTaxPercent > 0) {
                        const itemSubTotal = itemRate * quantity;
                        const itemTaxAmount = itemSubTotal * (itemTaxPercent / 100);
                        itemSpecificTaxTotal += itemTaxAmount;
                    }
                }
            });

            return itemSpecificTaxTotal;
        }

        function loadMenuItems() {
            searchText = $('.search-input').val().trim();
            $.ajax({
                url: '/OrderMenu/GetMenuItems',
                type: 'GET',
                data: {
                    categoryId: currentCategory,
                    searchText: searchText
                },
                success: function (result) {
                    $('.MenuItems').html(result);
                    initializeMenuItems();
                },
                error: function (error) {
                    console.error('Error loading menu items:', error);
                }
            });
        }

        $('.menu').on('click', function () {
            const categoryId = $(this).data('id');
            currentCategory = categoryId;

            $('.menu').removeClass('Categoey-active');
            $(this).addClass('Categoey-active');

            loadMenuItems();
        });

        $('.search-input').on('input', function () {
            searchText = $(this).val().trim();
            loadMenuItems();
        });

        function initializeMenuItems() {

            $('.heart-btn').on('click', function (e) {
                e.stopPropagation();
                const itemId = $(this).data('itemid');
                const isFavorite = $(this).hasClass('favorite');

                $.ajax({
                    url: '/OrderMenu/ToggleFavorite',
                    type: 'POST',
                    data: {
                        itemId: itemId,
                        isFavorite: !isFavorite
                    },
                    success: function (result) {
                        loadMenuItems();
                    },
                    error: function (error) {
                        console.error('Error updating favorite status:', error);
                    }
                });
            });

            $('.ItemCard').on('click', function () {
                const itemId = parseInt($(this).data('itemid'));
                const itemName = $(this).data('name');
                const itemType = $(this).data('type');
                const rate = $(this).data('rate');
                const isTax = $(this).data('istax');
                const Tax = $(this).data('tax');
                let triangleClass = '';
                switch (itemType) {
                    case "Veg":

                        triangleClass = 'veg';
                        break;
                    case "Nonveg":
                        triangleClass = 'non-veg';
                        break;
                    case "Vegan":
                        triangleClass = 'vegan-corner';
                        break;
                }

                $.ajax({
                    url: '/OrderMenu/GetItemModifiers',
                    type: 'GET',
                    data: {
                        itemId: itemId
                    },
                    success: function (data) {
                        if (data == "0") {
                            //No ModifierGroups

                            const timestamp = new Date().getTime();

                            tempSelections = {
                                uniqueId: `${itemId}-${timestamp}`,
                                itemId: itemId,
                                itemName: itemName,
                                itemRate: rate,
                                quantity: 1,
                                defaultTax: isTax,
                                tax: Tax,
                                groups: {}
                            };

                            updateConfirmedSelections();
                        }
                        else {
                            $('#ItemModifierModal').html(data);
                            $('.itemName').text(itemName);
                            $('.ItemId').val(itemId);
                            $('.Rate').val(rate);
                            $('.isTax').val(isTax);
                            $('.Tax').val(Tax);
                            $('.modifierType')
                                .removeClass('veg non-veg vegan-corner')
                                .addClass(triangleClass);
                            $('#ItemModifiers').modal('show');
                            handlemodifierPopUp();
                        }
                    }
                });

            });
        }

        loadMenuItems();

        function updateConfirmedSelections() {
            if (!tempSelections) return;

            const identicalItemIndex = confirmedSelections.findIndex(item => {
                if (item.itemId !== tempSelections.itemId) return false;

                const tempGroupIds = Object.keys(tempSelections.groups);
                const itemGroupIds = Object.keys(item.groups);

                if (tempGroupIds.length !== itemGroupIds.length) return false;

                for (const groupId of tempGroupIds) {
                    if (!item.groups[groupId]) return false;

                    const tempModifiers = tempSelections.groups[groupId].selectedModifiers;
                    const itemModifiers = item.groups[groupId].selectedModifiers;

                    const tempModifierIds = Object.keys(tempModifiers);
                    const itemModifierIds = Object.keys(itemModifiers);

                    if (tempModifierIds.length !== itemModifierIds.length) return false;

                    for (const modifierId of tempModifierIds) {
                        if (!itemModifiers[modifierId]) return false;
                    }
                }

                return true;
            });

            if (identicalItemIndex !== -1) {
                confirmedSelections[identicalItemIndex].quantity += tempSelections.quantity;
            } else {
                confirmedSelections.push(JSON.parse(JSON.stringify(tempSelections)));
            }

            tempSelections = null;

            renderConfirmedSelections();
        }

        function handlemodifierPopUp() {
            initializeArray();
            function initializeArray() {
                const itemId = parseInt($('.ItemId').val());
                const itemName = $('.itemName').text();
                const rate = $('.Rate').val();
                const isTax = $('.isTax').val();
                const Tax = $('.Tax').val();
                const timestamp = new Date().getTime();

                tempSelections = {
                    uniqueId: `${itemId}-${timestamp}`,
                    itemId: itemId,
                    itemName: itemName,
                    itemRate: rate,
                    quantity: 1,
                    defaultTax: isTax,
                    tax: Tax,
                    groups: {}
                };

                const existingItem = confirmedSelections.find(item => item.itemId === itemId);

                resetVisualSelections();

                if (existingItem) {
                    tempSelections.groups = JSON.parse(JSON.stringify(existingItem.groups));

                    restoreVisualSelections(tempSelections);
                }
            };

            $('.modifier-card-custom').on('click', function () {
                if (!tempSelections) return;

                const $card = $(this);
                const groupId = $card.data('group');
                const mappingId = $card.data('mapping');
                const modifierId = $card.data('id');
                const minRequired = parseInt($card.data('min'));
                const maxAllowed = parseInt($card.data('max'));
                const modifierName = $card.find('span:first').text();
                const modifierRate = $card.find('span.text-muted').text().replace('₹', '');

                if (!tempSelections.groups[groupId]) {
                    const groupName = $card.data('groupname');

                    tempSelections.groups[groupId] = {
                        groupId: groupId,
                        mappingId: mappingId,
                        groupName: groupName,
                        minRequired: minRequired,
                        maxAllowed: maxAllowed,
                        selectedModifiers: {}
                    };
                }

                if ($card.hasClass('active')) {
                    $card.removeClass('active');
                    $card.css('background-color', '');
                    delete tempSelections.groups[groupId].selectedModifiers[modifierId];

                    if (Object.keys(tempSelections.groups[groupId].selectedModifiers).length === 0) {
                    }
                } else {
                    const currentSelections = Object.keys(tempSelections.groups[groupId].selectedModifiers).length;
                    if (currentSelections >= maxAllowed) {
                        toastr.error(`You can select maximum ${maxAllowed} options from ${tempSelections.groups[groupId].groupName}`);
                        return;
                    }

                    $card.addClass('active');
                    $card.css({
                        'background-color': '#e6f2ff',
                        'opacity': '0.9'
                    });

                    tempSelections.groups[groupId].selectedModifiers[modifierId] = {
                        modifierId: modifierId,
                        modifierName: modifierName,
                        rate: modifierRate
                    };
                }
            });

            $('#modifiersForm').on('submit', function (e) {
                e.preventDefault();

                if (!tempSelections) return;

                let allGroups = {};
                $('.modifier-card-custom').each(function () {
                    const $card = $(this);
                    const groupId = $card.data('group');

                    if (!allGroups[groupId]) {
                        allGroups[groupId] = {
                            minRequired: parseInt($card.data('min')),
                            maxAllowed: parseInt($card.data('max')),
                            groupName: $card.data('groupname')
                        };
                    }
                });

                let isValid = true;

                for (const groupId in allGroups) {
                    const group = allGroups[groupId];

                    let selectedCount = 0;
                    if (tempSelections.groups[groupId] && tempSelections.groups[groupId].selectedModifiers) {
                        selectedCount = Object.keys(tempSelections.groups[groupId].selectedModifiers).length;
                    }

                    if (selectedCount < group.minRequired) {
                        toastr.error(`Please select at least ${group.minRequired} options from ${group.groupName}`);
                        isValid = false;
                    }
                }

                if (isValid) {
                    updateConfirmedSelections();
                    $('#ItemModifiers').modal('hide');
                }
            });

            $('#ItemModifiers .btn-danger').on('click', function () {
                tempSelections = null;
            });

            function resetVisualSelections() {
                $('.modifier-card-custom').removeClass('active').css({
                    'background-color': '',
                    'opacity': ''
                });
            }

            function restoreVisualSelections(selectionData) {
                if (!selectionData) return;

                for (const groupId in selectionData.groups) {
                    const group = selectionData.groups[groupId];

                    for (const modifierId in group.selectedModifiers) {
                        $(`.modifier-card-custom[data-group="${groupId}"][data-id="${modifierId}"]`).addClass('active').css({
                            'background-color': '#e6f2ff',
                            'opacity': '0.9'
                        });
                    }
                }
            }

            function openModifiersModal(itemId, itemName) {
                $('.ItemId').val(itemId);
                $('.itemName').text(itemName);

                $('#ItemModifiers').modal('show');
            }

            function getAllConfirmedSelections() {
                return confirmedSelections;
            }

            function removeConfirmedItem(itemId) {
                const index = confirmedSelections.findIndex(item => item.itemId === itemId);
                if (index !== -1) {
                    confirmedSelections.splice(index, 1);
                }
            }
        }


        $('#order-card').on('click', '#Save-Order-Btn', function () {

            const data = {
                OrderId: orderId,
                Subamount: lastSubTotal,
                Totalamount: totalAmount,
                Items: confirmedSelections,
                Taxes: orderTaxes
            };

            $.ajax({
                url: '/Orders/SaveOrder',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),

                success: function (response) {
                    toastr.success('Order saved successfully!');
                }
            });
        });

        $('#order-card').on('click', '#customer-update', function () {
            console.log("customer-details");
            $.ajax({
                url: '/OrderMenu/GetOrderCustomerDetails',
                method: 'GET',
                data: { orderId: orderId },
                success: function (response) {
                    $('#customerModalContailer').html(response);
                    $('#CustomerDetailsModal').modal('show');
                }

            });
        });

        $('#customerModalContailer').on('submit', '#customerDetailsForm', function (e) {
            e.preventDefault();
            const formData = new FormData($("#customerDetailsForm")[0]);
            console.log(formData);
            $.ajax({
                url: '/OrderMenu/UpdateOrderCustomerDetails',
                method: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.success) {
                        $('#CustomerDetailsModal').modal('hide');
                        toastr.success('Customer details updated successfully');
                    }
                    else {
                        toastr.error(`${response.message}`);
                    }
                }

            });
        });
        $('#order-card').on('click', '#order-comment', function (e) {
            $.ajax({
                url: '/OrderMenu/OrderComment',
                method: 'GET',
                data: { orderId: orderId },
                success: function (response) {
                    if (response.success) {
                        $('#orderCommentTextArea').val(response.comment);
                    }
                    else {
                        toastr.error(`${response.message}`);
                    }
                }

            });
            $('#orderCommentModal').modal('show');
        });

        $('#saveOrderCommentBtn').on('click', function () {
            var orderComment = $('#orderCommentTextArea').val();
            $.ajax({
                url: '/OrderMenu/OrderComment',
                method: 'POST',
                data: { orderId: orderId, orderWiseComment: orderComment },
                success: function (response) {
                    if (response.success) {
                        $('#orderCommentModal').modal('hide');
                        toastr.success('Comment Saved successfully');
                    }
                    else {
                        toastr.error(`${response.message}`);
                    }
                }

            });
        });

        $('#order-card').on('click', '.accordion-container', function (e) {
            const $clickedElement = $(e.target);

            const isExcluded =
                $clickedElement.hasClass('accordion-button') ||
                $clickedElement.hasClass('item-quantity-decrease') ||
                $clickedElement.hasClass('item-quantity-increase') ||
                $clickedElement.hasClass('remove-item') ||
                $clickedElement.parents('.accordion-button').length > 0 ||
                $clickedElement.parents('.item-quantity-decrease').length > 0 ||
                $clickedElement.parents('.item-quantity-increase').length > 0 ||
                $clickedElement.parents('.remove-item').length > 0;

            if (!isExcluded) {
                const itemId = $(this).data('item-id');
                const uniqueId = $(this).data('unique-id');
                const itemName = $(this).find('.item-name').text();
                const itemIndex = confirmedSelections.findIndex(i => i.uniqueId === uniqueId);
                console.log(uniqueId);
                console.log(confirmedSelections);
                console.log(itemIndex + "Index");
                if (itemIndex != -1) {
                    if (confirmedSelections[itemIndex]?.orderedItemId != undefined) {
                        var orderItemId = confirmedSelections[itemIndex]?.orderedItemId;
                        $.ajax({
                            url: '/OrderMenu/ItemComment',
                            method: 'GET',
                            data: { orderItemId: orderItemId },
                            success: function (response) {
                                if (response.success) {
                                    $('#itemCommentTextArea').val(response.comment);
                                    $('#OrderedItemId').val(orderItemId);
                                    $('#itemCommentModal').modal('show');
                                }
                                else {
                                    toastr.error(`${response.message}`);
                                }
                            }

                        });
                    }
                }
            }
        });

        $('#saveItemCommentBtn').on('click', function () {
            var comment = $('#itemCommentTextArea').val();
            var orderItemId = $('#OrderedItemId').val();
            $.ajax({
                url: '/OrderMenu/ItemComment',
                method: 'POST',
                data: { orderItemId: orderItemId, itemWiseComment: comment },
                success: function (response) {
                    if (response.success) {
                        $('#itemCommentModal').modal('hide');
                        toastr.success('Comment Saved successfully');
                    }
                    else {
                        toastr.error(`${response.message}`);
                    }
                }

            });
        });

        $('#order-card').on('click', '#Invoice-btn', function (e) {
            let url = `/Orders/ForPdfDownload?orderid=${encodeURIComponent(orderId)}`;
            window.location.href = url;
        });

        $('#order-card').on('click', '#Cancel-btn', function (e) {
            $('#cancelOrderModal').modal('show');
        });

        $('#cancelOrderForm').on('submit', function (e) {
            e.preventDefault();

            $.ajax({
                url: '/OrderMenu/CancelOrder',
                method: 'POST',
                data: { orderId: orderId },
                success: function (response) {
                    if (response.success) {
                        toastr.success(response.message);
                        window.location.href = '/OrderTable/Table';
                    }
                    else {
                        toastr.error(response.message);
                    }
                }
            });
        });

        $('#order-card').on('click', '#Complete-btn', function (e) {
            $('#completeOrderModal').modal('show');
        });

        $('#completeOrderForm').on('submit', function (e) {
            e.preventDefault();

            $.ajax({
                url: '/OrderMenu/CompleteOrder',
                method: 'POST',
                data: { orderId: orderId },
                success: function (response) {
                    if (response.success) {
                        toastr.success(response.message);
                        $('#customerReviewModal').modal('show');
                    }
                    else {
                        toastr.error(response.message);
                    }
                }
            });
        });

        const selectedRatings = {};

        $('.rating').each(function () {
            const $container = $(this);
            const category = $container.data('ratingfor');
            selectedRatings[category] = 0;

            const $stars = $container.find('i');

            $stars.on('click', function () {
                const $clickedStar = $(this);
                const clickedValue = parseInt($clickedStar.data('value'));
                const currentCategory = $clickedStar.closest('.rating').data('ratingfor');

                selectedRatings[currentCategory] = clickedValue;


                const $starsInCurrentCategory = $clickedStar.closest('.rating').find('i');
                $starsInCurrentCategory.each(function () {
                    const $innerStar = $(this);
                    const starValue = parseInt($innerStar.data('value'));

                    if (starValue <= clickedValue) {
                        $innerStar.removeClass('bi-star').addClass('bi-star-fill');
                    } else {
                        $innerStar.removeClass('bi-star-fill').addClass('bi-star');
                    }
                });

                console.log('Current Ratings:', selectedRatings);
            });

            $stars.on('mouseover', function () {
                const $hoveredStar = $(this);
                const hoverValue = parseInt($hoveredStar.data('value'));
                const $starsInCurrentCategory = $hoveredStar.closest('.rating').find('i');

                $starsInCurrentCategory.each(function () {
                    const $innerStar = $(this);
                    const starValue = parseInt($innerStar.data('value'));

                    if (starValue <= hoverValue) {
                        $innerStar.removeClass('bi-star').addClass('bi-star-fill');
                    } else {
                        $innerStar.removeClass('bi-star-fill').addClass('bi-star');
                    }
                });
            });
        });

        $('.rating').on('mouseleave', function () {
            const $container = $(this);
            const currentCategory = $container.data('ratingfor');
            console.log(currentCategory);
            const savedRating = selectedRatings[currentCategory];
            console.log(savedRating);
            const $starsInCurrentCategory = $container.find('i');

            $starsInCurrentCategory.each(function () {
                const $innerStar = $(this);
                const starValue = parseInt($innerStar.data('value'));
                if (starValue <= savedRating) {
                    $innerStar.removeClass('bi-star').addClass('bi-star-fill');
                } else {
                    $innerStar.removeClass('bi-star-fill').addClass('bi-star');
                }
            });
        });

        $('#customerReviewForm').on('submit', function (event) {
            event.preventDefault();

            const comment = $('#comment').val();

            const reviewData = {
                orderId: orderId,
                ratings: selectedRatings,
                comment: comment
            };

            console.log('Submitting Review Data:', reviewData);

            $.ajax({
                url: '/OrderMenu/SaveRatings',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(reviewData),
                success: function (response) {
                    if (response.success) {
                        $('#customerReviewModal').modal('hide');
                        toastr.success(response.message);
                        window.location.href = '/OrderTable/Table';
                    }
                    else {
                        toastr.error(response.message);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    toastr.error('There was an error submitting your review.');
                }
            });
        });
    });
</script>