@using pizzashop.repository.Models
@model pizzashop.repository.ViewModels.TableViewModel
<div class="modal fade" id="EditTableModal">
    <div class="modal-dialog modal-dialog-centered" style="width: 500px;">
        <div class="modal-content ps-3 pe-3">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addTableLabel">Edit Table</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" id="editTableForm">
                <input type="hidden" asp-for="Tableid">
                <input type="hidden" asp-for="Sectionid">
                <input type="hidden" asp-for="Tablestatus">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 col-lg-6 mb-3">
                            <div class="form-floating">
                                <input asp-for="Tablename" type="text" class="form-control input-height" id="Name"
                                    placeholder="Name*">
                                <label for="Name">Name*</label>
                                <span class="text-danger" asp-validation-for="Tablename"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 mb-3">
                            <div class="form-floating">
                                <select asp-for="Sectionid" asp-items="Model.Sections" class="form-select input-height"
                                    id="SectionId" disabled>
                                    <option value="">Select Section</option>
                                </select>
                                <label for="SectionId">Section*</label>
                                <span class="text-danger" asp-validation-for="Sectionid"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-6 mb-3">
                            <div class="form-floating">
                                <input asp-for="Capacity" type="text" class="form-control input-height" id="Capacity"
                                    placeholder="Name*">
                                <label for="Capacity">Capacity*</label>
                                <span class="text-danger" asp-validation-for="Capacity"></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 mb-3">
                            <div class="form-floating">
                                <select asp-for="Tablestatus" class="form-select input-height" id="Type" disabled>
                                    <option value="">Select Status</option>
                                    @foreach (var tablestatus in Enum.GetValues(typeof(tablestatus)))
                                    {
                                        <option value="@((int)tablestatus)">@tablestatus</option>
                                    }
                                </select>
                                <label for="Type">Status*</label>
                                <span class="text-danger" asp-validation-for="Tablestatus"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="SaveEditTable" class="btn btn-prime p-2">Save</button>
                    <button type="button" class="btn btn-border-prime text-primary p-2"
                        data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script>
    

</script>